.banner{
	margin-bottom:20px;
	line-height:0;

	&__cover{
		width:100%; 
		height:275px; 
		background-size:cover; 
		background-position: center;
		background-repeat:norepeat;

		@media (max-width:$tablet-max)
		{
			height:150px;
		}
	}
}

.search .sub_banner, .search .banner{
	display:none;
}