.checker-card{
	$container:&;

	display:flex;

	&__header{
		align-self: flex-end;
	}
	&__column{
		width:33.3%;

		&:hover{
			#{$container}__link{
				// text-decoration:underline;
			}

			#{$container}__column-box-solid:before{
				opacity:1;
			}

			#{$container}__link-zoom {

				transform:scale(1.05);
			}

			&#{$container}__column-style-0 #{$container}__link-zoom {
				background-color:rgba(0,150,214,.5);
			}

			&#{$container}__column-style-1 #{$container}__link-zoom {
				background-color:rgba(22,48,89,.5);
			}

			&#{$container}__column-style-2 #{$container}__link-zoom {
				background-color:rgba(140,198,62,.5);
			}
			
		}

		&-box{
			height:239px;

			@media (max-width: $tablet-max){
				height:150px;
			}

			@media (max-width: $tablet-max){
				height:125px;
			}

			&-image{
				position:relative;
				#{$container}__link{
					max-width: 100%;
					background-size:cover;
					position:absolute;
					width:100%;
					height:100%;
					display:block;
				}
			}

			&-solid{
				padding:15px;
				box-sizing:border-box;
				position:relative;

				@media (max-width: $tablet-max){
					padding: 10px;
				}


				&:before{
					content: "\0020";
					background-image: url(/wp-content/themes/mhrc/images/right.png);
					width: 20px;
					height: 20px;
					display: inline-block;
					float: right;
					position:absolute;
					right:15px;
					top:15px;
					opacity:0;
					transition: opacity .3s ease;
				}
			}
		}

		&-style-0{
			background-color:#0096d6;
		}

		&-style-1{
			background-color:#163059;
		}

		&-style-2{
			background-color:#8cc63e;//contrasts
			// background-color:##7eb535;
		}
		
	}

	&__zoom{
		overflow:hidden;
		position:relative;
		display:block;
		width:100%;
		height:100%;
	}

	&__link{
		display:block;
		height:100%;
		width:100%;
		color:$color__white;
		text-decoration:none;
		font-size:24px;
		font-family: 'Conv_Verlag-Light';
		font-weight:300;
		display:flex;
		align-self: flex-end;
		line-height:1.3;
		transition:color .3s ease;

		@media (max-width: $tablet-max){
			font-size:16px;
			line-height:1.2;
		}
	}

	&__link-zoom{
		transition:transform .3s ease,background-color .3s ease;

		#{$container}__column-style-0 &{
			background-color:rgba(0,150,214,.25);
		}

		#{$container}__column-style-1 &{
			background-color:rgba(22,48,89,.25);
		}

		#{$container}__column-style-2 &{
			background-color:rgba(140,198,62,.25);
		}

		background-blend-mode: multiply;
	}
}