$ff_mark_regular:inherit;
$color__drawer-background:$color__white;

.drawer{
	position:fixed;
	left:0px;
	height:100%;
	background-color:$color__drawer-background;
	top:0px;
	z-index:13;
	// padding-bottom:100px;

	@include transform(translate(-100%,0));
	display:none;
	box-sizing:border-box;
	width:295px;
	max-width:100%;
	box-shadow:0px 0px 15px rgba(0,0,0,.5);
	overflow-y:scroll;
	padding-top:10px; 

	&::-webkit-scrollbar {
	    width: 0px;  
	    background: transparent;  
	}

	&::-webkit-scrollbar-thumb {
	    background: #FF0000;
	}

	&__side{

		margin:0px;
		padding:0px;
		
		a{
			background-color:$color__purple;
			color:$color__white;
			display: block;

			@include fs(16px);
			@include transition(color .3s ease, background .3s ease);
			
			// color:$color__juan;
			// background-color:$color__drawer-background;
			font-family:$ff_mark_regular;
			// text-transform:uppercase;
			position:relative;
			cursor:pointer;
			text-decoration:none;
			display:block;
			// font-weight:700;
			padding:10px 30px 10px;
			line-height:1.4;

			&:hover{
				background-color:rgba($color__purple,.8);
			}

			&:after{
				content: "\f054";
				font-family: "Font Awesome 5 Free"; font-weight: 900;
				width: 20px;
				height: 20px;
				display: inline-block;
				position: absolute;
				right: 0px;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 0px;
				top:10px;
				font-size:10px;
			}

		}
	}

	&__social-media{
		display: flex;
		justify-content: center;
		align-items:center;
		// margin:20px 0px;
		&-item{
			@include transition(background-color .3s ease);
			
			width:50%;
			background-color:$color__juan;
			border-right:1px solid rgba($color__grey,.2);
			border-bottom:1px solid rgba($color__grey,.2);

			&:nth-child(even){
				border-right:0px;
			}

			&:hover{
				background-color:darken($color__juan,15%);
			}

			&-link{
				@include fs(44px);
				// margin:15px;
				color:$color__white;
				text-align: center;
				display: block;
				height: 100%;
				padding:30px;
				
			
				// width:100%;

				&:hover{
					// color:darken($color__juan,15%);
				}
			}
		}
	}

	&__phone{
		color:$color__white;
		// margin-bottom:10px;

		&:before{
			// content:"\0020";
			// border-bottom:1px solid $color__juan;	
			// display:block;
			// width:100%;
			// margin:0px auto;
			// // padding:10px 0px;
			// // padding-top:10px;
			// margin-bottom:10px;
		}
			

		&:after{
			// content:"\0020";
			// border-bottom:1px solid $color__white;	
			// display:block;
			// width:50%;
			// margin:0px auto;
			// padding-top:10px;
		}
		
		
		> div{
			// margin-bottom:5px;
			// background-color:$color__purple;

			// &:after{
			// 	content:"\0020";
			// 	border-bottom:1px solid $color__white;	
			// 	display:block;
			// 	width:50%;
			// 	margin:0px auto;
			// 	// padding:10px 0px;
			// 	padding-top:10px;
			// }

			a{
				padding:15px 25px;
				color:$color__white;
				font-weight:400;
				font-size:16px;
				display:block;
				// text-align:center;
				padding-left:30px;
				display:flex;
				align-items:center;
				// background-color:#0b1635;
				background-color:#163059;
				text-decoration: none;

				@include transition(background-color .3s ease);

				&:hover{
					background-color:#0b1635;
				}

				span{
					// display:block;
					min-width:0px;
					display:inline-block;
					text-align:left;
					// font-size:12px;
					flex-grow:1;
				}
			}

			&:last-child{
				margin-bottom:0px;
			}
		}
	}

	&__book{
		text-align:center;
		// background-color:$color__drawer-background;
		// margin-top:5px;
		// margin-bottom:5px;

		&-link{
			@include fs(16px);
			background-color:$color__juan;
			padding:10px 30px;
			display:block;
			color:$color__white;
			font-weight:700;
			// box-shadow:0px 1px 1px rgba(0,0,0,.15);
			@include transition(background-color .3s ease);
			display:flex;
			align-items:center;
			margin-top:15px;
			// margin-left:15px;

			&:hover{
				background-color:darken($color__purple,5%);
			}

			i{
				// display:block;
				font-size:20px;
				// margin-bottom:10px;
				margin-right:15px;
			}

			&:hover{
				color:$color__white;
				text-decoration:none;
			}
		}
		&-text{

		}
	}

	.menu-item-toggle{
		position:absolute;
		right:0px;
		top:0px;
		padding:10px 15px;
		box-sizing:border-box;

		i{
			font-size:10px;
		}

		&.is-active{
			i{
				@include transform(rotate(180deg));
			}
		}

	}

	&__before{
		margin-top:5px;

	}

	&__logo{
		// width:50px;
		display:block;
		padding-left:15px;
		margin-bottom:0px;
		border-bottom:1px solid $color__juan;
		padding-bottom:10px;


		img{
			width:130px;
		}
	}

	&__links{

		// margin:0px 16px;

		// a{
		// 	width:100%;	
		// 	@include fs(14px);
		// 	margin-bottom:15px;
		// 	&:last-child{
		// 		margin-bottom:12px;
		// 	}
		// }
		
	}

	&__after{
		// margin:0px 30px;
		// flex-grow:1;
		// background-color:black;
		// height:100%;

		form{
			width:100%;
		}
		.widget__question-input-search{
			width:100%;
			padding:13px 15px;
		}

		&-links{

		}
	}

	&__menu-links{
		margin:0px;
		padding:0px;

		li{

			list-style:none;
			margin-bottom:15px;
			a{
				color:$color__white;
				text-decoration:none;
				font-family:$ff_mark_regular;
				@include transition(color .3s ease)

				&:hover{
					color:$color__drawer-background;
				}
			}

		}
	}

	&__exchange{
		// margin-top:10px;
		&:before{
			content:"\0020";
			border-bottom:2px solid rgba($color__drawer-background,.5);
			display:block;
			margin:20px 0px 17px;
		}

		&:after{
			content:"\0020";
			border-bottom:2px solid rgba($color__drawer-background,.5);
			display:block;
			margin:17px 0px 20px;
		}

		.header__rates-toolbar-header{
			color:$color__white;
			text-transform:uppercase;
			font-family:$ff_mark_regular;
			margin-bottom:13px;
		}

		.header__rates-toolbar-buy,
		.header__rates-toolbar-sell{
			@include fs(13px);
			color:$color__white;
			font-family:$ff_mark_regular;

			&-value{
				color:$color__drawer-background;
			}
		}
	}

	&__social{

		&:before{
			content:"\0020";
			border-bottom:2px solid rgba($color__drawer-background,.5);
			display:block;
			margin:20px 0px 17px;
		}

		padding-bottom:20px;

		.footer__social{
			justify-content:flex-start;
		}
	}

	@media (max-width:340px){
		min-width:220px;
	}

	.admin-bar &{
		top:32px;
		@media(max-width:782px){
			top:32px;
		}
	}

	&__menu-header{
		@include fs(21px);

		color:$color__drawer-background;
		font-family:$ff_mark_regular;
		// text-transform:uppercase;
		letter-spacing:1px;

	}


	&__top{
		padding:25px 15px 24px;
		border-bottom:1px solid rgba($color__white,.5);
		margin-bottom:15px;
	}

	&__navigation{

		background-color:$color__drawer-background;
		// height:100%;

		&-ul{
			&:after{
				// content:"\0020";
				// border-bottom:2px solid rgba($color__drawer-background,.5);
				// display:block;
				// margin:10px 30px 20px;
			}
		}
	}

	&__tint{
		background-color:rgba($color__black,.6);
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:5;
		display:none;
		.drawer--open &{
			display:block;
		}
	}


	#mobile{
		margin:0px;
		padding:0px 0px 0px 0px;
		background-color:$color__drawer-background;

		br{
			display:none;
		}

		a{
			@include fs(16px);
			@include transition(color .3s ease, background .3s ease);
			
			color:$color__juan;
			background-color:$color__drawer-background;
			font-family:$ff_mark_regular;
			// text-transform:uppercase;
			position:relative;
			cursor:pointer;
			text-decoration:none;
			display:block;
			// font-weight:700;
			padding:10px 30px 10px;
			line-height:1.4;

			&[href="#"]{

				span{
					text-align: right;
					width: 100%;
				}
			}

			&:after{
				// @include transition(opacity .3s ease);
				// content:"\0020";
				// display:block;
				// background-color:$color__white;
				// width:100%;
				// width:calc(100% - 40px);
				// height:2px;
				// margin-top:15px;
				// opacity:0;
				// position:absolute;
				// bottom:5px;
				// left:20px;
			}

			&:hover{
				background-color:darken($color__drawer-background,5%);
				&:after{
					// opacity:1;

				}
			}

		}

		li{
			list-style:none;
			margin-bottom:0px;
			-webkit-backface-visibility: hidden;

			&.current_page_item, &.parent_menu_item, &.current_page_ancestor{
				a{
					color:#425a67;
				}
				
			}
		}

		li.menu-item-has-children{
			position:relative;
		}

		// li.menu-item-has-children:after{
		// 	content:"\f107";
		// 	font-family: FontAwesome;
		// 	font-style: normal;
		// 	font-weight: normal;
		// 	text-decoration: inherit;
		// 	color:white;
		// 	font-size:15px;
		// 	position:absolute;
		// 	right:15px;
		// 	top:calc(25px - 10px);
		// 	pointer-events:none;
		// }

		ul.sub-menu{
			margin:0px;
			padding:0px;
			display:none;
			z-index:-1;
			overflow:hidden;
			a{
				background-color:darken($color__white,2%);
				text-transform:inherit;
				@include fs(13px);
				padding-left:45px;
				&:hover{
					background-color:darken($color__white,5%);
				}
			}
		}

	}
}