@media(max-width:$tablet-max){
	#footer2{
		// display: 
		max-width: 100%;
	}

	.footer{
		&_interior{
			width:100%;
		}
	}

	.home_connect{
		width: 100%;
		padding:0px 30px;
		display:flex;
		box-sizing: border-box;
		box-shadow:none;

		@media (max-width: $phone-max){
			flex-wrap:wrap;
		}
	}


	.home_connect div.right,
	.home_connect div.left{
		// width:50%;
		flex-basis:50%;
		width:auto;
		overflow: hidden;
		height:auto;

		@media (max-width: $phone-max){
			flex-basis: 100%;

		}
	}

	.home_connect div.right{
		margin-bottom:15px;
	}

	.home_connect div.left h1{
		width:100%;
		background:#9a348c;
		padding:10px 15px 5px;
		line-height: 1.3;
		height:auto;

	}
	.home_connect div.right h1{
		width:100%;
		background:#425a67;
		padding:10px 15px 5px;
		line-height: 1.3;
		height:auto;
	}

	.home_connect div.left div.sc_left{
		margin:15px !important;
		font-size:16px;
		line-height: 1.3;
	}

	.home_connect div.right div.aa_right{
		float:none;
		// margin:15px 10px;
		width:auto;
		clear:both;
		margin:15px 0px;
	}

	.sc_right{
		display: none;
	}

	.home_connect div.right div.aa_form{
		float:none;
		width:100%;
		box-sizing:border-box;
		margin:15px 0px 0px 0px;
	}

	#ask_anything input,
	#ask_anything textarea{
		padding:15px 10px;
		background:#f3f4f6;
		border:1px solid rgba(grey,.5);
		width:100%;
		box-sizing:border-box;
		font-size:16px;
	}

	#ask_anything textarea{
		padding:5px 10px;
	}

	#ask_anything select{
		width:100%;
		background:#f3f4f6;
		padding:15px;
		height:30px;
		border:1px;
	}

	#ask_anything .instruction{
		width:100%;
		float:none;
		margin-bottom:0px;
		padding-right:0px;
	}

	#ask_anything input[type="submit"]{
		float:none;
		background:#425a67;
		color:white;
		width:100%;
		margin:0px;
		padding:10px;
		height:auto;
		font-size:20px;
		// text-align: left;
		max-width:300px;

		@media (max-width:560px){
			max-width: 100%;
		}

		transition: background .3s ease;
		&:hover{
			background:lighten(#425a67, 10%);
		}
	}

	.footer_lower{
		display: none;
	}

	.footer_list-container{
		padding:15px 30px;
	}

	.footer_list{
		display: flex;
		flex-wrap:wrap;

		>li{
			flex-basis:50%;
			// margin:5px;
			padding:0px 10px 0px 0px;
			box-sizing:border-box;

			@media (max-width:560px){
				flex-basis: 100%;
			}

		}

		a{
			font-size:14px;
		}
	}

	.sub_footer_list{
		li{
			margin:3px 0px;
			// padding:0px;
		}
		&:last-child{
			margin-bottom:15px;
		}
	}

	.footer_interior ul.footer_list li h1{
		font-size:16px;
		margin:10px 0px;
	}

	.footer_interior ul.footer_list li.print{
		display: none;
	}



}

.footer_interior ul.footer_list li ul.sub_footer_list li a{
	color:$color__white;
	text-decoration: underline;
}

.footer_lower span.right{
	color:#243946;
}

input:focus,
textarea:focus{
	outline: auto 5px -webkit-focus-ring-color !important;
	// border:2px solid #87c0fb;
}

.footer_interior ul.footer_list li ul.sub_footer_list li a:focus{
	outline: auto 5px -webkit-focus-ring-color !important;
}