.container-main{
	width:960px;
	margin:0px auto;
	display:block;
	max-width: 100%;

	@media (max-width: $tablet-max){
		padding:0px 30px;
		box-sizing: border-box;
		max-width: 100%;
		width:100%;
	}

	&__left{
		width:25%;
		@media (max-width: $tablet-max){
			// width:400px;
			// width:initial;
			width:250px;
			flex-basis:250px;
			margin-right:15px;
		}
		@media (max-width: $phone-max){
			// order:1;
			width:100%;
		}
	}

	&__right{
		// display: none;
		width:75%;
		@media (max-width: $tablet-max){
			// max-width: 400px;
			// width:auto;
			flex-grow:1;
			// width:initial;
			// width:auto;
			// width:300px;

			// .content{
			// 	display: none;
			// }
		}

		@media (max-width: $phone-max){
			// order:2;
			width:100%;
		}
	}

	@media (max-width: $tablet-max){
		img{
			max-width: 100%;
		}
	}
}

.container-main__flex{
	display:flex;
	margin-top:20px;
	@media (max-width: $phone-max){

		flex-direction: column-reverse;
	}
}

.section{
	margin-bottom:20px;
}


.container-main__right{
	line-height:1.3;
	@media (max-width: $tablet-max){
		padding-right:30px;
		max-width: 500px;
		body.home &{
			padding-right:0px;
			max-width: 75%;
			width:1px;
		}
	}
	@media (max-width: $phone-max){
		max-width: 100%;
		padding-right:0px;
		width:100%;
		body.home &{
			padding-right:0px;
			max-width:100%;
			width:100%
		}
	}
}


body{
	@media (max-width: $tablet-max){
		margin-top:50px;
	}
}

.main_content,
.copy_content,
.holder div.copy_content{
	@media (max-width:$tablet-max){
		width: 100%;	
	}
	max-width:100%;
}

.main_content{
	@media (max-width: $tablet-max){
		margin-top:15px;
	}
}


.holder aside{
	@media (max-width: $tablet-max){
		float:none;
		width:100%;
		margin:0px;
	    display: block;
	    overflow: hidden;
	}

}

iframe[src^="http://www.youtube.com/"],
iframe[src^="https://www.youtube.com/"]{
	max-width: 100%;
}

.sidebar_img_px2{
	padding-right:6px;
	&:last-child{
		padding-right:0px;
	}
}

.parent-pageid-15 .holder div.copy_content a{
	color:#9d2d8d;
	font-style: normal;
}

.purple h1,
.teal h1{
	color:#425967;
}