.header{
	background-color:$color__white;
	height:90px;
	display:flex;
	align-items: center;
	justify-content:center;
	border-bottom:1px solid $color__grey;

	@media (max-width: $tablet-max){
		width:100%;
		height:50px;
		position:fixed;
		z-index: 2;
		top:0px;
		left:0;
		right:0;
	}

	.container-main{
		@media (max-width: $tablet-max){
			display: flex;
			align-items:center;
		}
	}

	&__logo{
		float:left;

		@media (max-width: $tablet-max){
			flex-grow:1;
			img{
				width:90px;
			}
		}
	}

	&__hamburger{
		display: none;
		// @include translate(15px, 0px);
		margin-top:4px;

		@media (max-width: $tablet-max){
			display: block;
		}

		&-title{
			display: block;
			@include fs(11px);
			text-transform: uppercase;
			font-weight: bold;
			color:$color__juan;
			margin-top:3px;
		}
	}

	&__navigation{
		float:right;
		margin-top:23px;

		@media (max-width: $tablet-max){
			display: none;
		}

		a{
			text-transform:uppercase;
			font-size:12px;
			text-decoration:none;
			color:$color__juan;
			text-align:center;
			display:block;
			line-height:1.3;
			font-weight:500;
			z-index: 3;

			&:visited, &:focus{
				// color:$color__theme-blue;
				color:$color__juan;

				outline: auto 5px -webkit-focus-ring-color;
			}

			&:hover{
				cursor:pointer;
				// text-decoration:underline;
				color:#163059;
			}

		}

		>ul > li{
			&.current-page-item, &.current-menu-parent {
				> a{
					color:$color__purple;	
				}
			}

			&:last-child{
				&:after {
				  content: "\0020";
				  display: table;
				  clear: both;
				}
			}
		}

		> ul{
			margin:0px; 
			padding:0px;
			display:flex;
			justify-content: flex-end;

			ul{
				margin:0px; 
				padding:0px;
				display:none;
				position:absolute;
				left:-15px;
				margin-top:39px;
				top:15px;
				z-index:100;
				background-color:rgba($color__white,1);
				min-width:180px;
				// border:1px solid black;
				box-shadow: 1px 4px 3px rgba(0,0,0,.2);

				> li{
					
					border-bottom:1px solid $color__juan;


					a{
						padding:10px 15px;
						display:block;
						text-transform:capitalize;
						position:relative;
						text-align:left;
						font-size:13px;
						transition: all .2s ease;

						&:hover{
							background-color:$color__juan;
							color:$color__white;
							text-decoration:none;
						}


						
					}

					&:first-child{
						// border-top:1px solid $color__juan;
					}

					&:last-child{

						border-bottom:0px;

						a{
							&:after{
								border:0px;		
							}
							
						}
					}
				}
			}

			> li{
				
				padding:0px 15px;
				position:relative;
				display:flex;
				flex-direction:column;
				justify-content: center;

				&:after{
					content:"\0020";
					position:absolute;
					top:0px;
					width:100%;
					height:60px;
				}

				&.clickable{
					// padding-right:0px;
					&:after{
						display:none;
					}
				}

				&:last-child{
					padding-right:0px;
					&:after{
						display:none;
					}
				}

			
				&:hover{
					ul{
						display:block;
					}
				}
				
			}
		}
	}
}

#wrap{
	display:block;
	clear:both;
}