.large-card{
	overflow:hidden;

	min-height:390px;
	display:block;
	background-position:center;
	background-size:cover;
	display:flex;
	justify-content:flex-end;

	@media (max-width: $phone-max){
		flex-direction: column;
		&:before{
			content:"\0020";
			margin-top:50px;
			display: block;
		}
	}

	&__info-box{
		// background:rgba(118,192,202,.9); //accessiblity contrast
		// background:rgba(118,192,202,1);
		// background:#0196d6;
		background:#425a67;

		width:33.333%;
		min-width:230px;
		padding:20px 20px 30px;
		color:white;
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		box-sizing: border-box;

		@media (max-width: $phone-max){
			width:100%;
			// max-height:50%;
			// padding-top:50%;
			// background:rgba(118,192,202,0);
			min-width:100%;
					padding:15px 15px 15px;
		}
	}

	&__header{
		font-size:24px;
		font-family: 'Conv_Verlag-Light';
		font-weight:300;
		margin-bottom:20px;

	}

	&__summary{
		font-size:14px;
		font-family: 'Conv_Verlag-Light';
		font-weight:100;
		margin-bottom:0px;
		line-height:1.4;
		flex-grow:1;
		@media (max-width: $phone-max){
			margin-bottom:25px;
		}
	}

	&__link{
		&-container{
			display:block;
			text-align:center;
			margin:0px 15px;
		}

		display:block;
		font-size:15px;		
		font-family: 'Conv_Verlag-Light';
		font-weight:300;
		margin-bottom:20px;
		line-height:1.3;
		color:$color__white;
		text-decoration:none;
		margin:0px auto;
		text-transform:uppercase;
		border:1px solid $color__white;
		// background:rgba(118,192,202,1);contrants low

		background:#425a67;


		padding:14px 10px;
		line-height:1;
		transition:background-color .3s ease;

		@media (max-width: $phone-max){
			padding:10px 15px;
			font-size:14px;
		}

		&:hover{
			background-color:lighten(#425a67,5%);
		}
	}

}