.magazine{

	$container:&;

	display:flex;
	flex-wrap: wrap;
	margin:0px -10px;

	&__header-1, h1{
		// color: $color__light-blue;

		color:#425967;

		width: 100%;
		margin-bottom:20px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		margin-top:20px;
		line-height:1;

		&.has-banner{
			margin-top:0px;
		}
	}

	&__content{
		margin-bottom:20px;
		max-width:100%;
		color:#415a68;
		p{
			margin-bottom:20px;
		}

		a.button{
			border:$color__juan 1px solid;
			color:$color__juan;
			text-decoration:none;
			padding:15px;
			display:block;
			text-align:center;
			max-width:50%;
			transition:background-color .3s ease;

			@media (max-width: $phone-max)
			{
				max-width: 100%;
			}

			&:hover{
				background-color:$color__juan;
				color:white;
			}
		}

		ul{
			margin:0px 0px 15px 20px;
			li{
				list-style:disc;
				margin-bottom:5px;
			}
		}

		div.copy_content p{
			padding-bottom:0px;
			margin-top:0px;
		}

		h2{
		    color: #9a258f;
		    font-size: 16px;
		    text-transform: uppercase;
		    margin-bottom:20px;
		}

		h3{
		    color: #9a258f;
		    font-size: 15px;
		    text-transform: uppercase;
		    margin-bottom:20px;
		}

		h4{
		    color: #9a258f;
		    font-size: 14px;
		    text-transform: uppercase;
		    margin-bottom:20px;
		}

		h5{
		    color: #9a258f;
		    font-size: 13px;
		    text-transform: uppercase;
		    margin-bottom:20px;
		}

		hr{
			margin:30px 0px;
		}

	}

	&__past-issues{
		margin:0px -10px;
	}

	&__column{
		width:50%;
		padding:0px 10px;
		margin-bottom:20px;
		box-sizing:border-box;
	}

	&__year-header{
		
		&:after{
			content:"\0020";
			border-bottom:1px solid $color__juan;
			display:block;
			margin-bottom:10px;
			padding-bottom:10px;
			width:10px;
		}
	}

	&__list-item{	
		margin-bottom:10px;
	}

	&__list-item-link{
		color:$color__juan;
		text-decoration:none;
		font-size:14px;
		&:hover{
			// cursor:pointer;
			text-decoration:underline;
		}
	}

	&__item{
		width:50%;
		box-sizing:border-box;
		padding:0px 10px;
		margin:0px 0px 20px;

		@media (max-width: $phone-max){
			width: 100%;
			max-width: 350px;
		}

		&-info-window{
			position:absolute;
			bottom:0px;
			// background-color:rgba(22,48,89,.8); //contrast
			background-color:rgba(22,48,89,1);
			padding:20px;
			color:white;
			line-height:1.2;
			width:100%;
			display:block;
			box-sizing:border-box;
			transition: background-color .4s ease;

			&:before{
			    content: "\0020";
			    background-image: url(/wp-content/themes/mhrc/images/right.png);
			    width: 20px;
			    height: 20px;
			    display: inline-block;
			    float: right;
			    opacity:0;
			    transition: opacity .4s ease;
			}			
		}

		&-link{

			line-height:0;
			display:block;
			position:relative;

			&:hover{
				#{$container}__item-info-window{
					background-color:rgba(118,192,202,.8);
					&:before{
						opacity:1;
					}
				}
			}

		}

		&-title{
			font-family: 'Conv_Verlag-Light';
			font-weight:100;
			font-size:24px;
			margin-bottom:10px;
			@media (max-width: $tablet-max){
				font-size:16px;
			}
		}

		&-subtitle{
			font-family: 'Conv_Verlag-Light';
			font-weight:300;
			font-size:14px;
		}

		&-image{
			max-width:100%;
		}
	}

}

.file-description img{
	max-width: 100%;
	height:auto;
}