#side{
	margin-right:20px;
	max-width:220px;
	overflow:hidden;
	display: flex;
    flex-direction: column;
    height:100%;

    @media (max-width: $tablet-max){
    	max-width:none;
    	width:100%;
    }
}

.sidebar{

	&__navigation{
		width:100%;

		ul{
			@media (max-width: $phone-max){
				display: flex;
				flex-wrap:wrap;
				margin:-5px -5px;
			}
		}
		
		li{

			@media (max-width: $phone-max){
				width:50%;
				// margin:5px;
				box-sizing: border-box;
			}

			a{

				display:block;
				background:$color__purple;
				color:$color__white;
				padding:23px 20px 20px 20px;
				border-bottom:1px solid $color__white;
				text-decoration:none;
				letter-spacing:1px;
				text-transform:uppercase;
				transition: background-color .3s ease;
				font-size:18px;
				position:relative;
				line-height:1.3;

				&:focus{
					// outline: auto 5px -webkit-focus-ring-color;
					background-color:#87c0fb;
				}

				@media (max-width: $tablet-max){
					font-size:13px;
					padding:18px 16px 15px 16px;
				}

				@media (max-width: $phone-max){
					margin:5px;
				}

				&:after{
					content:"\0020";
					background-image:url('/wp-content/themes/mhrc/images/right.png');
					width:20px;
					height:20px;
					display:inline-block;
				    position: absolute;
				    right: 0px;
				    top: 0;
				    bottom: 0;
				    margin: auto;
				    right: 15px;
				}
				&:hover{
					background-color:rgba(157,45,141,.8);
				}
			}
		}
	}
}



.twitter_header{
	// display: none;
	background-color:transparent;
	color:#415a68;
	font-weight: bold;

	@media(max-width: $tablet-max){
		width:auto;

	}

	@media(max-width: $phone-max){
		margin-top:20px;
	}
}

.twitter_feed{
	@media (max-width:1023px){
		height:auto !important;	
	}
	
}
.twitter_feed{
	// display: none;
}