.slider{
	max-height:450px;
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
	// background-color:rgba(22,48,89,1);

	@media (max-width: $tablet-max){
		max-height: none;
	}

	@media (max-width: $phone-max){
		background:rgba(22,48,89,1);
	}	
}

.slide{

	position:relative;

	&__img{
		width:100%;
	}

	&__title-container{
		background:rgba(22,48,89,.9); //contrast
		// background:rgba(22,48,89,1);



		position:absolute;
		bottom:0px;
		color:$color__white;
		padding:15px;
		display:block;
		width:100%;
		padding:60px 60px;
		box-sizing:border-box;
		display:flex;

		@media (max-width: $tablet-max){
			padding:30px 30px;
			display: block;
		}

		@media (max-width: $phone-max){
			position:relative;
			background:rgba(22,48,89,1);

			*{
				text-decoration: none;
			}
		}
	}

	&__titles{
		font-family: 'Conv_Verlag-Light';
		flex-grow:1;
	}

	&__a{
		text-decoration: none;
	}

	&__link{
		// display:flex;
		border:1px solid $color__white;
		
		text-transform:uppercase;
		color:$color__white;
		background:rgba(22,48,89,1);
		padding:15px 15px;
		transition:.3s ease background-color;
		display:block;
		min-width:175px;
		text-align:center;

		&:hover{
			background:#0b1635;
		}

		@media (max-width: $tablet-max){
			max-width: 200px;
			margin:0px auto;
			font-size:14px;
			padding:10px 12px;
			
		}


		&-container{
			// margin-top:27px;
			// float:right;
			display:flex;
			flex-direction:column;
			justify-content:center;
			// align-self:flex-end;
		}
	}

	&__title{
		display:block;
		font-size:30px;
		line-height:1;
		white-space:nowrap;
		text-overflow: ellipsis;
		overflow:hidden;
		max-width:580px;
		@media (max-width: $tablet-max){
			margin-bottom:15px;
			white-space: normal;
			text-align: center;
			max-width: 100%;
			font-size:24px;
		}
	}

	&__subtitle{
		display:block;
		font-size:20px;
		line-height:1.3;
		margin-top:5px;
		white-space:nowrap;
		text-overflow: ellipsis;
		overflow:hidden;
		max-width:580px;

		@media (max-width: $tablet-max){
			margin-bottom:15px;
			white-space: normal;
			text-align: center;
			max-width: 100%;
			font-size:16px;
		}
	}
}

.slick-dots{
	display:flex !important;
	margin:0px auto;
	font-size:0px;
	position:absolute;
	bottom:18px;
	left:0;
	right:0;
	left:60px;

	@media (max-width: $tablet-max){
		left:0;
		margin:auto;
		display: inline-block;
		// align-items:center;
		justify-content: center;
		bottom:10px;
	}

	li{
		
		button{
			// background-color:rgba(22,48,89,1); contrast
			background-color:#cecece;
			margin:0px 13px 0px 0px;
			font-size:0px;
			width:30px;
			height:5px;
			border:0px;
			cursor:pointer;
			transition:.3s ease background-color;
			position:relative;

			@media (max-width: $tablet-max){
				margin:0px 6.5px;
			}

			@media (max-width: $phone-max){
				background-color:rgba(white,.3);
			}

			&:before{
				position:absolute;
				content:"\0020";
				border-top:15px solid transparent;
				width:100%;
				top:-15px;
				left:0px;

			}
		}
		&.slick-active{
			// display:none;
			button{
				background-color:$color__white;
			}
		}

	}
}