.toolbar{
	background-color:$color__juan;
	height:40px;
	display:flex;
	justify-content:center;
	flex-direction:column;

	@media (max-width: $tablet-max){
		display: none;
	}


	&__items{
		display:flex;
		justify-content: flex-end
	}

	&__search{

		&-form{
			display:flex;
		}

		&-input{
			padding:0px 10px;
			min-width:230px;
			font-size:12px;
			font-family:$ff__verdana;
		}

		&-button{
			border:0px;
			background-color:transparent;
			margin-left:20px;
			border:0px;

			&:focus{
				outline: auto 5px -webkit-focus-ring-color;
			}

			&-icon{
				color:$color__white;
				font-size:17px;
				margin-top:2px;
			}
		}
	}

	&__social-media{
		display:flex;

		&-item{
			margin-right:45px;
			font-size:20px;
			padding:0px 5px;

			&:hover{
				&-icon{
					
				}
			}

			&:first-child{
				margin-right:40px;
			}
			&-link{
				&:focus{
					outline: auto 5px -webkit-focus-ring-color;
				}
			}
		}

		&-icon{
			color:$color__white;
		}

	}
}

.toolbar__search-input::-webkit-input-placeholder{
	color:$color__juan;
	font-family:$ff__verdana;
	font-style:normal;
	font-size:12px;
}