$color__white:#fff;
$color__black:#000;
$color__light-blue:#88d2d8;
$color__juan:#425a67;
$color__purple:#9d2d8d;
$color__grey:#a0a1a2;

$ff__verdana: Verdana, Geneva, sans-serif;

$tablet-min:1024px;
$tablet-max:$tablet-min - 1px;

$phone-min:768px;
$phone-max:$phone-min - 1px;