/*
Theme Name: blankSlate
Theme URI: http://shawncope.com
Description: A theme completely stripped of all styling and structure. Functionality is based on the twentyten theme.
Version: 3.1
Author: Shawn Cope
Author URI: http://shawncope.com
Tags: blankSlate, no style, clean, empty

This theme was designed and built by Shawn Cope,
whose blog you will find at http://shawncope.com/

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
*/
/*@import "template/fancybox/source/jquery.fancybox.css?v=2.0.6";
@import "template/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.2";
@import "template/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=2.0.6";*/
@import url(template/css/style.css);
/*Utility Styles************************/
.alignright {
  float: left;
}

.alignleft {
  float: right;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.home_grid li.green div.bubble, .home_grid li.dblue div.bubble {
  margin-top: -20px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container-main {
  width: 960px;
  margin: 0px auto;
  display: block;
  max-width: 100%;
}

@media (max-width: 1023px) {
  .container-main {
    padding: 0px 30px;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }
}

.container-main__left {
  width: 25%;
}

@media (max-width: 1023px) {
  .container-main__left {
    width: 250px;
    flex-basis: 250px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .container-main__left {
    width: 100%;
  }
}

.container-main__right {
  width: 75%;
}

@media (max-width: 1023px) {
  .container-main__right {
    flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .container-main__right {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .container-main img {
    max-width: 100%;
  }
}

.container-main__flex {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .container-main__flex {
    flex-direction: column-reverse;
  }
}

.section {
  margin-bottom: 20px;
}

.container-main__right {
  line-height: 1.3;
}

@media (max-width: 1023px) {
  .container-main__right {
    padding-right: 30px;
    max-width: 500px;
  }
  body.home .container-main__right {
    padding-right: 0px;
    max-width: 75%;
    width: 1px;
  }
}

@media (max-width: 767px) {
  .container-main__right {
    max-width: 100%;
    padding-right: 0px;
    width: 100%;
  }
  body.home .container-main__right {
    padding-right: 0px;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  body {
    margin-top: 50px;
  }
}

.main_content,
.copy_content,
.holder div.copy_content {
  max-width: 100%;
}

@media (max-width: 1023px) {
  .main_content,
  .copy_content,
  .holder div.copy_content {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .main_content {
    margin-top: 15px;
  }
}

@media (max-width: 1023px) {
  .holder aside {
    float: none;
    width: 100%;
    margin: 0px;
    display: block;
    overflow: hidden;
  }
}

iframe[src^="http://www.youtube.com/"],
iframe[src^="https://www.youtube.com/"] {
  max-width: 100%;
}

.sidebar_img_px2 {
  padding-right: 6px;
}

.sidebar_img_px2:last-child {
  padding-right: 0px;
}

.parent-pageid-15 .holder div.copy_content a {
  color: #9d2d8d;
  font-style: normal;
}

.purple h1,
.teal h1 {
  color: #425967;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 34px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 34px;
  height: 3px;
  background-color: #425a67;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 68px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 68px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 68px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 68px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 68px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 68px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-6.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-6.8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(6.8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(6.8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-6.8px, -8.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-6.8px, 8.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(6.8px, -8.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(6.8px, 8.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 7px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 14px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 7px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 14px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 7px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -68px;
  top: -68px;
  transform: translate3d(68px, 68px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -68px;
  top: -68px;
  transform: translate3d(-68px, 68px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 7px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -68px;
  top: 68px;
  transform: translate3d(68px, -68px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -68px;
  top: 68px;
  transform: translate3d(-68px, -68px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 1.5px;
}

.hamburger--slider .hamburger-inner::before {
  top: 7px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 14px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-4.85714px, -4px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 1.5px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 7px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 14px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(4.85714px, -4px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -14px, 0) rotate(90deg);
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 1.5px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 7px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 7px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 7px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

.hamburger.is-active {
  z-index: 99;
}

.header {
  background-color: #fff;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a0a1a2;
}

@media (max-width: 1023px) {
  .header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1023px) {
  .header .container-main {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  float: left;
}

@media (max-width: 1023px) {
  .header__logo {
    flex-grow: 1;
  }
  .header__logo img {
    width: 90px;
  }
}

.header__hamburger {
  display: none;
  margin-top: 4px;
}

@media (max-width: 1023px) {
  .header__hamburger {
    display: block;
  }
}

.header__hamburger-title {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #425a67;
  margin-top: 3px;
}

.header__navigation {
  float: right;
  margin-top: 23px;
}

@media (max-width: 1023px) {
  .header__navigation {
    display: none;
  }
}

.header__navigation a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #425a67;
  text-align: center;
  display: block;
  line-height: 1.3;
  font-weight: 500;
  z-index: 3;
}

.header__navigation a:visited, .header__navigation a:focus {
  color: #425a67;
  outline: auto 5px -webkit-focus-ring-color;
}

.header__navigation a:hover {
  cursor: pointer;
  color: #163059;
}

.header__navigation > ul > li.current-page-item > a, .header__navigation > ul > li.current-menu-parent > a {
  color: #9d2d8d;
}

.header__navigation > ul > li:last-child:after {
  content: "\0020";
  display: table;
  clear: both;
}

.header__navigation > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.header__navigation > ul ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  left: -15px;
  margin-top: 39px;
  top: 15px;
  z-index: 100;
  background-color: white;
  min-width: 180px;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
}

.header__navigation > ul ul > li {
  border-bottom: 1px solid #425a67;
}

.header__navigation > ul ul > li a {
  padding: 10px 15px;
  display: block;
  text-transform: capitalize;
  position: relative;
  text-align: left;
  font-size: 13px;
  transition: all .2s ease;
}

.header__navigation > ul ul > li a:hover {
  background-color: #425a67;
  color: #fff;
  text-decoration: none;
}

.header__navigation > ul ul > li:last-child {
  border-bottom: 0px;
}

.header__navigation > ul ul > li:last-child a:after {
  border: 0px;
}

.header__navigation > ul > li {
  padding: 0px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__navigation > ul > li:after {
  content: "\0020";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
}

.header__navigation > ul > li.clickable:after {
  display: none;
}

.header__navigation > ul > li:last-child {
  padding-right: 0px;
}

.header__navigation > ul > li:last-child:after {
  display: none;
}

.header__navigation > ul > li:hover ul {
  display: block;
}

#wrap {
  display: block;
  clear: both;
}

.toolbar {
  background-color: #425a67;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .toolbar {
    display: none;
  }
}

.toolbar__items {
  display: flex;
  justify-content: flex-end;
}

.toolbar__search-form {
  display: flex;
}

.toolbar__search-input {
  padding: 0px 10px;
  min-width: 230px;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}

.toolbar__search-button {
  border: 0px;
  background-color: transparent;
  margin-left: 20px;
  border: 0px;
}

.toolbar__search-button:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

.toolbar__search-button-icon {
  color: #fff;
  font-size: 17px;
  margin-top: 2px;
}

.toolbar__social-media {
  display: flex;
}

.toolbar__social-media-item {
  margin-right: 45px;
  font-size: 20px;
  padding: 0px 5px;
}

.toolbar__social-media-item:first-child {
  margin-right: 40px;
}

.toolbar__social-media-item-link:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

.toolbar__social-media-icon {
  color: #fff;
}

.toolbar__search-input::-webkit-input-placeholder {
  color: #425a67;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-size: 12px;
}

#side {
  margin-right: 20px;
  max-width: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 1023px) {
  #side {
    max-width: none;
    width: 100%;
  }
}

.sidebar__navigation {
  width: 100%;
}

@media (max-width: 767px) {
  .sidebar__navigation ul {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -5px;
  }
}

@media (max-width: 767px) {
  .sidebar__navigation li {
    width: 50%;
    box-sizing: border-box;
  }
}

.sidebar__navigation li a {
  display: block;
  background: #9d2d8d;
  color: #fff;
  padding: 23px 20px 20px 20px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color .3s ease;
  font-size: 18px;
  position: relative;
  line-height: 1.3;
}

.sidebar__navigation li a:focus {
  background-color: #87c0fb;
}

@media (max-width: 1023px) {
  .sidebar__navigation li a {
    font-size: 13px;
    padding: 18px 16px 15px 16px;
  }
}

@media (max-width: 767px) {
  .sidebar__navigation li a {
    margin: 5px;
  }
}

.sidebar__navigation li a:after {
  content: "\0020";
  background-image: url("/wp-content/themes/mhrc/images/right.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}

.sidebar__navigation li a:hover {
  background-color: rgba(157, 45, 141, 0.8);
}

.twitter_header {
  background-color: transparent;
  color: #415a68;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .twitter_header {
    width: auto;
  }
}

@media (max-width: 767px) {
  .twitter_header {
    margin-top: 20px;
  }
}

@media (max-width: 1023px) {
  .twitter_feed {
    height: auto !important;
  }
}

.slider {
  max-height: 450px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .slider {
    max-height: none;
  }
}

@media (max-width: 767px) {
  .slider {
    background: #163059;
  }
}

.slide {
  position: relative;
}

.slide__img {
  width: 100%;
}

.slide__title-container {
  background: rgba(22, 48, 89, 0.9);
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 15px;
  display: block;
  width: 100%;
  padding: 60px 60px;
  box-sizing: border-box;
  display: flex;
}

@media (max-width: 1023px) {
  .slide__title-container {
    padding: 30px 30px;
    display: block;
  }
}

@media (max-width: 767px) {
  .slide__title-container {
    position: relative;
    background: #163059;
  }
  .slide__title-container * {
    text-decoration: none;
  }
}

.slide__titles {
  font-family: 'Conv_Verlag-Light';
  flex-grow: 1;
}

.slide__a {
  text-decoration: none;
}

.slide__link {
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  background: #163059;
  padding: 15px 15px;
  transition: .3s ease background-color;
  display: block;
  min-width: 175px;
  text-align: center;
}

.slide__link:hover {
  background: #0b1635;
}

@media (max-width: 1023px) {
  .slide__link {
    max-width: 200px;
    margin: 0px auto;
    font-size: 14px;
    padding: 10px 12px;
  }
}

.slide__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__title {
  display: block;
  font-size: 30px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 580px;
}

@media (max-width: 1023px) {
  .slide__title {
    margin-bottom: 15px;
    white-space: normal;
    text-align: center;
    max-width: 100%;
    font-size: 24px;
  }
}

.slide__subtitle {
  display: block;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 580px;
}

@media (max-width: 1023px) {
  .slide__subtitle {
    margin-bottom: 15px;
    white-space: normal;
    text-align: center;
    max-width: 100%;
    font-size: 16px;
  }
}

.slick-dots {
  display: flex !important;
  margin: 0px auto;
  font-size: 0px;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  left: 60px;
}

@media (max-width: 1023px) {
  .slick-dots {
    left: 0;
    margin: auto;
    display: inline-block;
    justify-content: center;
    bottom: 10px;
  }
}

.slick-dots li button {
  background-color: #cecece;
  margin: 0px 13px 0px 0px;
  font-size: 0px;
  width: 30px;
  height: 5px;
  border: 0px;
  cursor: pointer;
  transition: .3s ease background-color;
  position: relative;
}

@media (max-width: 1023px) {
  .slick-dots li button {
    margin: 0px 6.5px;
  }
}

@media (max-width: 767px) {
  .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.slick-dots li button:before {
  position: absolute;
  content: "\0020";
  border-top: 15px solid transparent;
  width: 100%;
  top: -15px;
  left: 0px;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.banner {
  margin-bottom: 20px;
  line-height: 0;
}

.banner__cover {
  width: 100%;
  height: 275px;
  background-size: cover;
  background-position: center;
  background-repeat: norepeat;
}

@media (max-width: 1023px) {
  .banner__cover {
    height: 150px;
  }
}

.search .sub_banner, .search .banner {
  display: none;
}

.large-card {
  overflow: hidden;
  min-height: 390px;
  display: block;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .large-card {
    flex-direction: column;
  }
  .large-card:before {
    content: "\0020";
    margin-top: 50px;
    display: block;
  }
}

.large-card__info-box {
  background: #425a67;
  width: 33.333%;
  min-width: 230px;
  padding: 20px 20px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .large-card__info-box {
    width: 100%;
    min-width: 100%;
    padding: 15px 15px 15px;
  }
}

.large-card__header {
  font-size: 24px;
  font-family: 'Conv_Verlag-Light';
  font-weight: 300;
  margin-bottom: 20px;
}

.large-card__summary {
  font-size: 14px;
  font-family: 'Conv_Verlag-Light';
  font-weight: 100;
  margin-bottom: 0px;
  line-height: 1.4;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .large-card__summary {
    margin-bottom: 25px;
  }
}

.large-card__link {
  display: block;
  font-size: 15px;
  font-family: 'Conv_Verlag-Light';
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
  margin: 0px auto;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: #425a67;
  padding: 14px 10px;
  line-height: 1;
  transition: background-color .3s ease;
}

.large-card__link-container {
  display: block;
  text-align: center;
  margin: 0px 15px;
}

@media (max-width: 767px) {
  .large-card__link {
    padding: 10px 15px;
    font-size: 14px;
  }
}

.large-card__link:hover {
  background-color: #4c6877;
}

.checker-card {
  display: flex;
}

.checker-card__header {
  align-self: flex-end;
}

.checker-card__column {
  width: 33.3%;
}

.checker-card__column:hover .checker-card__column-box-solid:before {
  opacity: 1;
}

.checker-card__column:hover .checker-card__link-zoom {
  transform: scale(1.05);
}

.checker-card__column:hover.checker-card__column-style-0 .checker-card__link-zoom {
  background-color: rgba(0, 150, 214, 0.5);
}

.checker-card__column:hover.checker-card__column-style-1 .checker-card__link-zoom {
  background-color: rgba(22, 48, 89, 0.5);
}

.checker-card__column:hover.checker-card__column-style-2 .checker-card__link-zoom {
  background-color: rgba(140, 198, 62, 0.5);
}

.checker-card__column-box {
  height: 239px;
}

@media (max-width: 1023px) {
  .checker-card__column-box {
    height: 150px;
  }
}

@media (max-width: 1023px) {
  .checker-card__column-box {
    height: 125px;
  }
}

.checker-card__column-box-image {
  position: relative;
}

.checker-card__column-box-image .checker-card__link {
  max-width: 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.checker-card__column-box-solid {
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1023px) {
  .checker-card__column-box-solid {
    padding: 10px;
  }
}

.checker-card__column-box-solid:before {
  content: "\0020";
  background-image: url(/wp-content/themes/mhrc/images/right.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
  transition: opacity .3s ease;
}

.checker-card__column-style-0 {
  background-color: #0096d6;
}

.checker-card__column-style-1 {
  background-color: #163059;
}

.checker-card__column-style-2 {
  background-color: #8cc63e;
}

.checker-card__zoom {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.checker-card__link {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Conv_Verlag-Light';
  font-weight: 300;
  display: flex;
  align-self: flex-end;
  line-height: 1.3;
  transition: color .3s ease;
}

@media (max-width: 1023px) {
  .checker-card__link {
    font-size: 16px;
    line-height: 1.2;
  }
}

.checker-card__link-zoom {
  transition: transform .3s ease,background-color .3s ease;
  background-blend-mode: multiply;
}

.checker-card__column-style-0 .checker-card__link-zoom {
  background-color: rgba(0, 150, 214, 0.25);
}

.checker-card__column-style-1 .checker-card__link-zoom {
  background-color: rgba(22, 48, 89, 0.25);
}

.checker-card__column-style-2 .checker-card__link-zoom {
  background-color: rgba(140, 198, 62, 0.25);
}

.magazine {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
}

.magazine__header-1, .magazine h1 {
  color: #425967;
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1;
}

.magazine__header-1.has-banner, .magazine h1.has-banner {
  margin-top: 0px;
}

.magazine__content {
  margin-bottom: 20px;
  max-width: 100%;
  color: #415a68;
}

.magazine__content p {
  margin-bottom: 20px;
}

.magazine__content a.button {
  border: #425a67 1px solid;
  color: #425a67;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  max-width: 50%;
  transition: background-color .3s ease;
}

@media (max-width: 767px) {
  .magazine__content a.button {
    max-width: 100%;
  }
}

.magazine__content a.button:hover {
  background-color: #425a67;
  color: white;
}

.magazine__content ul {
  margin: 0px 0px 15px 20px;
}

.magazine__content ul li {
  list-style: disc;
  margin-bottom: 5px;
}

.magazine__content div.copy_content p {
  padding-bottom: 0px;
  margin-top: 0px;
}

.magazine__content h2 {
  color: #9a258f;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.magazine__content h3 {
  color: #9a258f;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.magazine__content h4 {
  color: #9a258f;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.magazine__content h5 {
  color: #9a258f;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.magazine__content hr {
  margin: 30px 0px;
}

.magazine__past-issues {
  margin: 0px -10px;
}

.magazine__column {
  width: 50%;
  padding: 0px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.magazine__year-header:after {
  content: "\0020";
  border-bottom: 1px solid #425a67;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 10px;
}

.magazine__list-item {
  margin-bottom: 10px;
}

.magazine__list-item-link {
  color: #425a67;
  text-decoration: none;
  font-size: 14px;
}

.magazine__list-item-link:hover {
  text-decoration: underline;
}

.magazine__item {
  width: 50%;
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 0px 0px 20px;
}

@media (max-width: 767px) {
  .magazine__item {
    width: 100%;
    max-width: 350px;
  }
}

.magazine__item-info-window {
  position: absolute;
  bottom: 0px;
  background-color: #163059;
  padding: 20px;
  color: white;
  line-height: 1.2;
  width: 100%;
  display: block;
  box-sizing: border-box;
  transition: background-color .4s ease;
}

.magazine__item-info-window:before {
  content: "\0020";
  background-image: url(/wp-content/themes/mhrc/images/right.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  opacity: 0;
  transition: opacity .4s ease;
}

.magazine__item-link {
  line-height: 0;
  display: block;
  position: relative;
}

.magazine__item-link:hover .magazine__item-info-window {
  background-color: rgba(118, 192, 202, 0.8);
}

.magazine__item-link:hover .magazine__item-info-window:before {
  opacity: 1;
}

.magazine__item-title {
  font-family: 'Conv_Verlag-Light';
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 1023px) {
  .magazine__item-title {
    font-size: 16px;
  }
}

.magazine__item-subtitle {
  font-family: 'Conv_Verlag-Light';
  font-weight: 300;
  font-size: 14px;
}

.magazine__item-image {
  max-width: 100%;
}

.file-description img {
  max-width: 100%;
  height: auto;
}

.drawer {
  position: fixed;
  left: 0px;
  height: 100%;
  background-color: #fff;
  top: 0px;
  z-index: 13;
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  display: none;
  box-sizing: border-box;
  width: 295px;
  max-width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding-top: 10px;
}

.drawer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.drawer::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.drawer__side {
  margin: 0px;
  padding: 0px;
}

.drawer__side a {
  background-color: #9d2d8d;
  color: #fff;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 10px 30px 10px;
  line-height: 1.4;
}

.drawer__side a:hover {
  background-color: rgba(157, 45, 141, 0.8);
}

.drawer__side a:after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
  top: 10px;
  font-size: 10px;
}

.drawer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer__social-media-item {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 50%;
  background-color: #425a67;
  border-right: 1px solid rgba(160, 161, 162, 0.2);
  border-bottom: 1px solid rgba(160, 161, 162, 0.2);
}

.drawer__social-media-item:nth-child(even) {
  border-right: 0px;
}

.drawer__social-media-item:hover {
  background-color: #243138;
}

.drawer__social-media-item-link {
  font-size: 44px;
  font-size: 2.75rem;
  color: #fff;
  text-align: center;
  display: block;
  height: 100%;
  padding: 30px;
}

.drawer__phone {
  color: #fff;
}

.drawer__phone > div a {
  padding: 15px 25px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding-left: 30px;
  display: flex;
  align-items: center;
  background-color: #163059;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.drawer__phone > div a:hover {
  background-color: #0b1635;
}

.drawer__phone > div a span {
  min-width: 0px;
  display: inline-block;
  text-align: left;
  flex-grow: 1;
}

.drawer__phone > div:last-child {
  margin-bottom: 0px;
}

.drawer__book {
  text-align: center;
}

.drawer__book-link {
  font-size: 16px;
  font-size: 1rem;
  background-color: #425a67;
  padding: 10px 30px;
  display: block;
  color: #fff;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.drawer__book-link:hover {
  background-color: #89277b;
}

.drawer__book-link i {
  font-size: 20px;
  margin-right: 15px;
}

.drawer__book-link:hover {
  color: #fff;
  text-decoration: none;
}

.drawer .menu-item-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.drawer .menu-item-toggle i {
  font-size: 10px;
}

.drawer .menu-item-toggle.is-active i {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.drawer__before {
  margin-top: 5px;
}

.drawer__logo {
  display: block;
  padding-left: 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #425a67;
  padding-bottom: 10px;
}

.drawer__logo img {
  width: 130px;
}

.drawer__after form {
  width: 100%;
}

.drawer__after .widget__question-input-search {
  width: 100%;
  padding: 13px 15px;
}

.drawer__menu-links {
  margin: 0px;
  padding: 0px;
}

.drawer__menu-links li {
  list-style: none;
  margin-bottom: 15px;
}

.drawer__menu-links li a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.drawer__menu-links li a:hover {
  color: #fff;
}

.drawer__exchange:before {
  content: "\0020";
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  margin: 20px 0px 17px;
}

.drawer__exchange:after {
  content: "\0020";
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  margin: 17px 0px 20px;
}

.drawer__exchange .header__rates-toolbar-header {
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
  margin-bottom: 13px;
}

.drawer__exchange .header__rates-toolbar-buy,
.drawer__exchange .header__rates-toolbar-sell {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  font-family: inherit;
}

.drawer__exchange .header__rates-toolbar-buy-value,
.drawer__exchange .header__rates-toolbar-sell-value {
  color: #fff;
}

.drawer__social {
  padding-bottom: 20px;
}

.drawer__social:before {
  content: "\0020";
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  margin: 20px 0px 17px;
}

.drawer__social .footer__social {
  justify-content: flex-start;
}

@media (max-width: 340px) {
  .drawer {
    min-width: 220px;
  }
}

.admin-bar .drawer {
  top: 32px;
}

@media (max-width: 782px) {
  .admin-bar .drawer {
    top: 32px;
  }
}

.drawer__menu-header {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #fff;
  font-family: inherit;
  letter-spacing: 1px;
}

.drawer__top {
  padding: 25px 15px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}

.drawer__navigation {
  background-color: #fff;
}

.drawer__tint {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}

.drawer--open .drawer__tint {
  display: block;
}

.drawer #mobile {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  background-color: #fff;
}

.drawer #mobile br {
  display: none;
}

.drawer #mobile a {
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease;
  color: #425a67;
  background-color: #fff;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 10px 30px 10px;
  line-height: 1.4;
}

.drawer #mobile a[href="#"] span {
  text-align: right;
  width: 100%;
}

.drawer #mobile a:hover {
  background-color: #f2f2f2;
}

.drawer #mobile li {
  list-style: none;
  margin-bottom: 0px;
  -webkit-backface-visibility: hidden;
}

.drawer #mobile li.current_page_item a, .drawer #mobile li.parent_menu_item a, .drawer #mobile li.current_page_ancestor a {
  color: #425a67;
}

.drawer #mobile li.menu-item-has-children {
  position: relative;
}

.drawer #mobile ul.sub-menu {
  margin: 0px;
  padding: 0px;
  display: none;
  z-index: -1;
  overflow: hidden;
}

.drawer #mobile ul.sub-menu a {
  background-color: #fafafa;
  text-transform: inherit;
  font-size: 13px;
  font-size: 0.8125rem;
  padding-left: 45px;
}

.drawer #mobile ul.sub-menu a:hover {
  background-color: #f2f2f2;
}

@media (max-width: 1023px) {
  #footer2 {
    max-width: 100%;
  }
  .footer_interior {
    width: 100%;
  }
  .home_connect {
    width: 100%;
    padding: 0px 30px;
    display: flex;
    box-sizing: border-box;
    box-shadow: none;
  }
}

@media (max-width: 1023px) and (max-width: 767px) {
  .home_connect {
    flex-wrap: wrap;
  }
}

@media (max-width: 1023px) {
  .home_connect div.right,
  .home_connect div.left {
    flex-basis: 50%;
    width: auto;
    overflow: hidden;
    height: auto;
  }
}

@media (max-width: 1023px) and (max-width: 767px) {
  .home_connect div.right,
  .home_connect div.left {
    flex-basis: 100%;
  }
}

@media (max-width: 1023px) {
  .home_connect div.right {
    margin-bottom: 15px;
  }
  .home_connect div.left h1 {
    width: 100%;
    background: #9a348c;
    padding: 10px 15px 5px;
    line-height: 1.3;
    height: auto;
  }
  .home_connect div.right h1 {
    width: 100%;
    background: #425a67;
    padding: 10px 15px 5px;
    line-height: 1.3;
    height: auto;
  }
  .home_connect div.left div.sc_left {
    margin: 15px !important;
    font-size: 16px;
    line-height: 1.3;
  }
  .home_connect div.right div.aa_right {
    float: none;
    width: auto;
    clear: both;
    margin: 15px 0px;
  }
  .sc_right {
    display: none;
  }
  .home_connect div.right div.aa_form {
    float: none;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0px 0px 0px;
  }
  #ask_anything input,
  #ask_anything textarea {
    padding: 15px 10px;
    background: #f3f4f6;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  #ask_anything textarea {
    padding: 5px 10px;
  }
  #ask_anything select {
    width: 100%;
    background: #f3f4f6;
    padding: 15px;
    height: 30px;
    border: 1px;
  }
  #ask_anything .instruction {
    width: 100%;
    float: none;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  #ask_anything input[type="submit"] {
    float: none;
    background: #425a67;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 10px;
    height: auto;
    font-size: 20px;
    max-width: 300px;
    transition: background .3s ease;
  }
}

@media (max-width: 1023px) and (max-width: 560px) {
  #ask_anything input[type="submit"] {
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  #ask_anything input[type="submit"]:hover {
    background: #567586;
  }
  .footer_lower {
    display: none;
  }
  .footer_list-container {
    padding: 15px 30px;
  }
  .footer_list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_list > li {
    flex-basis: 50%;
    padding: 0px 10px 0px 0px;
    box-sizing: border-box;
  }
}

@media (max-width: 1023px) and (max-width: 560px) {
  .footer_list > li {
    flex-basis: 100%;
  }
}

@media (max-width: 1023px) {
  .footer_list a {
    font-size: 14px;
  }
  .sub_footer_list li {
    margin: 3px 0px;
  }
  .sub_footer_list:last-child {
    margin-bottom: 15px;
  }
  .footer_interior ul.footer_list li h1 {
    font-size: 16px;
    margin: 10px 0px;
  }
  .footer_interior ul.footer_list li.print {
    display: none;
  }
}

.footer_interior ul.footer_list li ul.sub_footer_list li a {
  color: #fff;
  text-decoration: underline;
}

.footer_lower span.right {
  color: #243946;
}

input:focus,
textarea:focus {
  outline: auto 5px -webkit-focus-ring-color !important;
}

.footer_interior ul.footer_list li ul.sub_footer_list li a:focus {
  outline: auto 5px -webkit-focus-ring-color !important;
}

table.bordered tr {
  border: 1;
  border-style: solid;
}

table {
  border: 1;
}
