/*
Theme Name: blankSlate
Theme URI: http://shawncope.com
Description: A theme completely stripped of all styling and structure. Functionality is based on the twentyten theme.
Version: 3.1
Author: Shawn Cope
Author URI: http://shawncope.com
Tags: blankSlate, no style, clean, empty

This theme was designed and built by Shawn Cope,
whose blog you will find at http://shawncope.com/

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php
*/

/*@import "template/fancybox/source/jquery.fancybox.css?v=2.0.6";
@import "template/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.2";
@import "template/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=2.0.6";*/
@import "template/css/style.css";

/*Utility Styles************************/
.alignright {
	float: left;
}

.alignleft {
	float: right;
}
.aligncenter {
	display:block;
	margin:0 auto;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.home_grid li.green div.bubble, .home_grid li.dblue div.bubble { margin-top: -20px;}