@charset "UTF-8";

html {
	max-width: 8.5in;
}
#wrap {
	display: table;
	height: auto;
	margin: 0;
	padding: 0;
}

body {
	background: none;
	font-size: 12pt;
	height: auto;
	margin: 0;
	padding: 0;
}
div.copy_content p {
	color: #000;
}
div.copy_content h2, div.copy_content h3, div.copy_content p {
	color: #000;
}
nav.secondary_nav {
	 box-shadow: 0 0 0 0 transparent;
	 border: none;
}
aside#sidebar {
	 box-shadow: 0 0 0 0 transparent;
	 border: none;
	 float: none;
	 margin: 0;
	 padding: 0;
}
aside#sidebar a.logo {
	 float: none;
	 margin: 0;
	 padding: 0;
}
aside * {
	display: none;
}
.for-print {
	display: block !important;
}
.content {
	width: auto;
	margin: 0;
	padding: 0;
}
.secondary_nav {
	display: none;
}
.secondary_nav * {
	display: none;
}
.main_content {
    float: none;
    width: auto;
	margin: 0;
	padding: 0;
}
.main_content img.sub_banner {
	float: none;
	margin: 0;
	padding: 0;
}
#footer2 {
	display: none;
}
.secondary_nav {
	display: none;	
}
.main_nav {
	display: none !important;
}
.main_nav a {
	display: none !important;
}
.main_nav * {
	display: none;
}
.home_connect {
	display: none;
}
#footer {
	display: none;	
}
.holder {
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#main2 {
	padding: 0;
	overflow: auto;
}
.copy_content h1 {
	margin-top: 15px;
}
.twitter_header, .twitter_feed {
	display: none;
}
.holder aside {
    float: right;
    margin-left: 40px;
    margin-top: 42px;
    padding-right: 10px;
    width: 185px;
}