* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

nav.secondary_nav {
	margin: 0;
	padding: 0;
	left: 0;
}
nav.secondary_nav .centralizer {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 960px;
   	background: url('../img/ie-secondarynav.jpg') 0 0 repeat-y;
}
nav.main_nav ul li ul {
	width: 183px;
	left: 0px;
}
nav.main_nav {
	display: inline-block;
	position: absolute;
}
nav.main_nav ul li ul li {
	height: auto;
}
nav.main_nav ul li ul li a {
	white-space: normal;
	height: auto;
	line-height: 16px;
	padding: 8px;
}
nav.main_nav ul li ul li, nav.main_nav ul li ul li.top {
	height: auto;
}
#askanything-submit {
	text-indent: -10px;
}
.clear_both {
	height: 0px;
	float: left;
}
.holder aside div.select_box_grad{width:185px;height: auto;float:left;border-top:none;border-left:none;border-bottom:none;border-right:none;background-image:none; margin-bottom: 10px;	overflow: visible;}
.holder aside div.select_box_grad span.select_wrap {
	background: none;
	border: none;
	height: 23px;
	overflow: visible;
}
.holder aside div.select_box_grad span.select_wrap select{
	width: 183px;
    background-color:white;
    border: solid 1px #ccc;
    padding:0.3em 0.5em;
	height: 23px;
	overflow: visible;
}
.holder aside div.select_box_grad span.select_wrap select option{
	width: 100%;
}
.holder div.copy_content .post {
	width: 100%;
}
.post .network {
	min-height: 65px;
}
.post .network, .post .entry-utility {
	float: left;
	clear: both;
}
.social_media_blog {
	width: 100% !important;
}
.cat-links {
	display: none !important;
}