@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {margin:0;padding:0;}

html, body {height: 100%;}

#wrap {min-height: 100%;position:relative;background-image:url('../img/bg_white.jpg');
	background-position:center;
	background-repeat:repeat-y;}

#main {
	overflow:auto;
	padding-bottom: 180px;
}  /* must be same height as the footer */

#main2 {
	overflow:auto;
	padding-bottom: 430px;
}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 240px;
	clear:both;
	background-image:url('../img/blue_foot.jpg');background-repeat:repeat-x;background-position:bottom;}


#footer2 {
	position: relative;
	/*margin-top: -430px;  negative value of footer height */
	/*height: 430px;*/
	clear:both;
	/*background-image:url('../img/blue_foot.jpg');background-repeat:repeat-x;background-position:bottom;}*/
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

@font-face {
	font-family: 'Conv_HelveticaLTStd-Light';
	src: url('../fonts/HelveticaLTStd-Light.eot');
	src: local('☺'), url('../fonts/HelveticaLTStd-Light.woff') format('woff'), url('../fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Verlag-Light';
	src: url('../fonts/Verlag-Light.eot');
	src: local('☺'), url('../fonts/Verlag-Light.woff') format('woff'), url('../fonts/Verlag-Light.ttf') format('truetype'), url('../fonts/Verlag-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Verlag-Book';
	src: url('../fonts/Verlag-Book.eot');
	src: local('☺'), url('../fonts/Verlag-Book.woff') format('woff'), url('../fonts/Verlag-Book.ttf') format('truetype'), url('../fonts/Verlag-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*body{background-color:#f4f6f7;background-image:url('../img/stripes2.jpg');background-repeat: repeat-y; background-attachment:fixed; background-position:center;}*/
body, input, textarea, select{font-family:'Conv_Verlag-Book', 'Conv_HelveticaLTStd-Light', Helvetica, "Trebuchet MS", Arial, sans-serif;}
strong{font-weight:bold;}
em{font-style:oblique;}
textarea {resize: none;}

:focus {
outline: 0;
}

aside#sidebar{float:left;width:235px;margin-top:-60px;padding-top:60px;background-color:#ffffff;position:relative;z-index:5;box-shadow: 4px 0px 5px -2px #CCC;}
aside#sidebar a.logo{width:235px;height:130px;margin-left:auto;margin-right:auto;display:block;text-align:center;cursor: pointer;float:left;position:relative;}
aside#sidebar a.logo object{left:25px;float:left;cursor: pointer;position:absolute;z-index:0;width:184px;height:130px;}
aside#sidebar a.logo .over{position:absolute;z-index:5;width:235px;height:130px;float:left;color:#336699;}

nav.main_nav{position:absolute;z-index:200;right:0px;top:100px;width:635px;height:40px;background-color:#ffffff;background-image:url('../img/fader.png');}
nav.main_nav ul{background-image:url('../img/fader_lines_static.png');float:left;list-style:none;clear:both;height:40px;}
nav.main_nav ul li{display:inline-block;float:left;position:relative;line-height:40px;}
nav.main_nav ul li a{width:105px;line-height:40px;display:block;color:#ffffff;text-align:center;text-decoration:none;text-transform:uppercase;font-size:12px;float:left;font-weightL:bold;}
nav.main_nav ul li ul{background-image:none;position:absolute;z-index:20;top:40px;display:none;float:left;list-style:disc outside none; width:175px;clear:both;}
nav.main_nav ul li ul li, nav.main_nav ul li ul li.top{border-top:1px dotted #a4b5c0;float:left;clear:both;display:inline;width:auto;white-space:normal;width:100%;background-color:#ffffff; padding: 0 15px 0 10px;}
nav.main_nav ul li ul li.top{border-top:0px;}
nav.main_nav ul li ul li:hover{background-image:url('../img/menu_hover_bg.jpg');background-repeat:repeat-y;}
nav.main_nav ul li ul li:hover a{color:#415a68;}
nav.main_nav ul li ul li a{text-align:left;font-weight:normal;line-height:16px; padding-top: 6px; padding-bottom: 6px; color:#728693;width:100%;}

div.copy_content{width:100%;float:left;}
div.copy_content h2, div.copy_content h3, div.copy_content p{float:left;width:100%;}
div.copy_content h2{float:left;width:100%;text-transform:uppercase;font-size:15px; margin-top: 10px;}
div.copy_content h3{font-style:oblique;font-weight:bold;padding-bottom:0px;font-size:12px; margin-top: 10px;}
div.copy_content p{margin-top:5px;padding-bottom:10px;}
div.copy_content a{float:left;margin-top:10px;margin-bottom:10px;width:100%;}
div.copy_content p a{text-decoration:none;float:none;clear:none;width:auto;}
div.copy_content p a:hover{text-decoration:underline;}
div.copy_content ul{list-style:none;width:100%;border:0px;padding-left:0px;}
div.copy_content ul li{padding:0px;border:0px;margin:0px;}

div.copy_content ul.council-members li { margin: 10px 0; }

nav.secondary_nav{width:100%;float:left;clear:both;height:60px;box-shadow:0 4px 4px -2px #999999;background-color:#ffffff;position:absolute;z-index:2;}
nav.secondary_nav ul{list-style:none;float:right;}
nav.secondary_nav div.centralizer{width:960px;margin-left:auto;margin-right:auto;height:60px;}
nav.secondary_nav ul li{display:inline-block;float:right;margin-left:10px;}
nav.secondary_nav ul li a{height:60px;padding:0px 10px;line-height:60px;display:block;text-align:center;text-decoration:none;text-transform:uppercase;font-size:10px;color:#607785;}
nav.secondary_nav ul li a:hover{text-decoration:underline;}
nav.secondary_nav ul li input{width:150px;border-radius:5px;border:0px;padding:2px;background-color:#f3f5f6;margin-top:22px;color:#607785;font-style:oblique;font-size:10px;margin-left:5px;}

.ask_anything_result{float:left;padding-left:10px;margin-top:20px;font-size:16px;}
.aqua{}
.aqua a{color:#88d2d8;}
.aqua h1{color:#88d2d8;float:left;width:100%;padding-bottom:15px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.aqua.holder aside ul li a{color:#88d2d8;}

.blue{}
.blue h1{color:#88d2d8;font-family:'Conv_Verlag-Light';float:left;width:100%;padding-bottom:15px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.blue h2{color:#88d2d8;font-family:'Conv_Verlag-Light';float:left;width:100%;text-transform:uppercase;font-size:15px;}
.blue h3{font-style:oblique;font-weight:bold;margin-top:20px;font-size:12px;}
.blue div.program_profile{width:100%;float:left;}
.blue div.program_profile h2, .blue div.program_profile h3, .blue div.program_profile p{float:left;width:100%;}
.blue div.program_profile h2{color:#0397d6;float:left;width:100%;text-transform:uppercase;font-size:15px;}
.blue div.program_profile h3{font-style:oblique;font-weight:bold;padding-bottom:20px;font-size:12px;}
.blue div.program_profile p{margin-top:5px;padding-bottom:10px;}
.blue div.program_profile a{color:#0397d6;float:left;margin-top:10px;margin-bottom:10px;width:100%;}
.blue div.program_profile p a{color:#0397d6;text-decoration:none;float:none;clear:none;width:auto;}
.blue div.program_profile p a:hover{text-decoration:underline;}
.blue div.program_profile ul{list-style:none;width:100%;border:0px;padding-left:0px;}
.blue div.program_profile ul li{padding:0px;border:0px;margin:0px;}
.blue.holder aside ul li a{color:#0397d6;}

.clear_both{clear:both;}
.content{position:relative;width:960px;margin-left:auto;margin-right:auto;padding-top:0px;background-color:#ffffff;display:block;}
.copy_content h2.events{float:left;width:100%;text-transform:uppercase;font-size:15px;padding-bottom:20px;}

.events_gallery{float:left;list-style:none;width:100%;}
.events_gallery li{float:left;display:inline;width:50%;margin-top:20px;}
.events_gallery li img{width:200px;height:200px;background-color:#CCCCCC;float:left;display:block;}

.footer_list-container{
	padding:0px 30px 45px;
	background-color:#415a68; 
	overflow:hidden; 
	margin:0px;
	border-top:1px solid #243946;
	border-bottom:1px solid #243946;
}

.footer_interior{width:960px;margin-left:auto;margin-right:auto;}
#footer .footer_interior{width:960px;height:220px;margin-left:auto;margin-right:auto;background-color:#415a68; }
.footer_interior ul.footer_list{list-style:none;clear:both; padding-left:0px;}
.footer_interior ul.footer_list li{display:inline;float:left;width:125px;}
.footer_interior ul.footer_list li.print{padding-left:20px; width:auto;}
.footer_interior ul.footer_list li h1{color:#ffffff;text-transform:uppercase;font-size:12px;margin-top:15px;}
.footer_interior ul.footer_list li ul.sub_footer_list{float:left;width:100%;list-style:none;}
.footer_interior ul.footer_list li ul.sub_footer_list li{width:100%;float:left;font-size:10px;margin-top:5px;}
.footer_interior ul.footer_list li ul.sub_footer_list li a{color:#a4b5c0;text-decoration:none;}
.footer_interior ul.footer_list li ul.sub_footer_list li a:hover{text-decoration:underline;}
.footer_lower{width:960px;margin-left:auto;margin-right:auto; padding:8px 0px; border-bottom:1px solid #243946; overflow:hidden;margin-bottom:40px;}
.footer_lower a.left{float:left;text-transform:uppercase;color:#243946;text-decoration:none;line-height:20px;font-size:10px;padding-left:15px;}
.footer_lower a.left:hover{text-decoration: underline;}
.footer_lower span.right{float:right;text-align:right;color:#243946;line-height:20px;font-size:12px;color:#a4b5c0;padding-right:15px;}


.green{}
.green a{color:#8dc63f;}
.green h1{color:#8dc63f;float:left;width:100%;padding-bottom:25px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.green.holder aside ul li a{color:#8dc63f;}
.green h2{color:#8DC63F;float:left;width:100%;text-transform:uppercase;font-size:15px;}
.green h3{font-style:oblique;font-weight:bold;margin-top:20px;font-size:12px;}
.green div.copy_content{width:100%;float:left;}
.green div.copy_content h2, .green div.copy_content h3, .green div.copy_content p{float:left;width:100%;}
.green div.copy_content h2{color:#8DC63F;float:left;width:100%;text-transform:uppercase;font-size:15px;}
.green div.copy_content h3{font-style:oblique;font-weight:bold;padding-bottom:20px;font-size:12px;}
.green div.copy_content p{margin-top:5px;padding-bottom:10px;}
.green div.copy_content a{color:#8DC63F;float:left;margin-top:10px;margin-bottom:10px;width:100%;}
.green div.copy_content p a{color:#8DC63F;text-decoration:none;float:none;clear:none;width:auto;}
.green div.copy_content p a:hover{text-decoration:underline;}
.green div.copy_content ul{list-style:none;width:100%;border:0px;padding-left:0px;}
.green div.copy_content ul li{padding:0px;border:0px;margin:0px;}

.holder{width:100%;padding-bottom:25px;float:left;}
.holder div.copy_content{float:left;width:465px;color:#415a68;font-size:16px;line-height:140%;}
.holder div.copy_content ul, .holder div.copy_content ul.blocks, .holder div.copy_content ul.news, .holder div.copy_content ul.jobs, .holder div.copy_content ul.programs, .holder div.copy_content ul.recipient{float:left;width:100%;list-style:none;padding-left:0px;list-style-position:inside;}
.holder div.copy_content ul.blocks, .holder div.copy_content ul.news, .holder div.copy_content ul.jobs, .holder div.copy_content ul.programs, .holder div.copy_content ul.recipient{list-style:none;}
.holder div.copy_content ul li{font-style:oblique;}
.holder div.copy_content ul.blocks li, .holder div.copy_content ul.news, .holder div.copy_content ul.jobs{float:left;font-style:normal;width:100%;margin-top:10px;padding-bottom:10px;margin-bottom:20px;}
.holder div.copy_content ul.blocks li{border-bottom:1px dotted #415a68;}
.holder div.copy_content ul.blocks li img{width:145px;height:170px;float:left;background-color:#CCCCCC;}
.holder div.copy_content ul.blocks li h2, .holder div.copy_content ul.blocks li h3, .holder div.copy_content ul.blocks li p{float:left;width:100%;}
.holder div.copy_content ul.blocks li h2{color:#9a258f;font-weight:bold;float:left;margin-top:10px;}
.holder div.copy_content ul.blocks li h3{font-size:11px;font-weight:bold;font-style:oblique;}
.holder div.copy_content ul.blocks li p{margin-top:10px;}

.holder div.copy_content ul.news li, .holder div.copy_content ul.jobs li{float:left;font-style:normal;width:100%;padding-bottom:10px;margin-bottom:30px;border-bottom:1px dotted #415a68;}
.holder div.copy_content ul.news li h2, .holder div.copy_content ul.news li h3, .holder div.copy_content ul.news li p, .holder div.copy_content ul.jobs li h2, .holder div.copy_content ul.jobs li h3, .holder div.copy_content ul.jobs li p{float:left;width:100%;}
.holder div.copy_content ul.news li h2, .holder div.copy_content ul.jobs li h2{color:#9a258f;font-size:16px;float:left;text-transform:uppercase;}
.holder div.copy_content ul.news li h3, .holder div.copy_content ul.jobs li h3{font-size:13px;font-weight:bold;font-style:oblique;}
.holder div.copy_content ul.jobs li h3{text-transform:uppercase;font-size:12px;font-style:normal;color:#9a258f;}
.holder div.copy_content ul.jobs li p{margin-top:10px;}
.holder div.copy_content ul.jobs li div.extra_box{float:left;margin-top:10px;width:100%;}
.holder div.copy_content ul.jobs li div.extra_box span.date{float:left;font-weight:bold;font-style:oblique;}
.holder div.copy_content ul.jobs li div.extra_box a{float:right;text-align:right;text-decoration:none;text-transform:uppercase;}
.holder div.copy_content ul.jobs li div.extra_box a:hover{float:right;text-align:right;text-decoration:underline;}

h2#r_category{margin-bottom:20px;}
.holder div.copy_content ul.recipient{}
.holder div.copy_content ul.recipient li{float:left;font-style:normal;width:100%;padding-bottom:10px;margin-bottom:30px;border-bottom:1px dotted #415a68;}
.holder div.copy_content ul.recipient li h2, .holder div.copy_content ul.recipient li h3, .holder div.copy_content ul.recipient li p{float:left;width:100%;}
.holder div.copy_content ul.recipient li h2{color:#0397d6;font-size:13px;float:left;text-transform:uppercase;font-weight:bold;}
.holder div.copy_content ul.recipient li h3{font-size:12px;font-weight:bold;font-style:oblique;margin:0px;}
.holder div.copy_content ul.recipient li p{margin-top:10px;}
.holder div.copy_content ul.recipient li.default{border-bottom:0px;}
.holder div.copy_content ul.recipient li.default p{margin-top:0px;}
.holder div.copy_content ul.recipient li p a.more{float:right;text-align:right;display:inline;text-decoration:none;text-transform:uppercase;color:#0397d6;font-size:12px;}
.holder div.copy_content ul.recipient li p a.more:hover{text-decoration:none;}
.holder div.copy_content a.more-recipients{float:right;text-align:right;display:inline;text-decoration:none;text-transform:uppercase;color:#0397d6;font-size:12px;}


.holder div.copy_content ul.programs li{float:left;font-style:normal;width:100%;padding-bottom:10px;margin-bottom:30px;border-bottom:1px dotted #415a68;}
.holder div.copy_content ul.programs li.default{border-bottom:0px;}
.holder div.copy_content ul.programs li h2, .holder div.copy_content ul.programs li h3, .holder div.copy_content ul.programs li p{float:left;width:100%;}
.holder div.copy_content ul.programs li h2{color:#0397d6;float:left;width:100%;text-transform:uppercase;font-size:15px;}
.holder div.copy_content ul.programs li h3{font-style:oblique;font-weight:bold;padding-bottom:20px;font-size:12px;}
.holder div.copy_content ul.programs li p{margin-top:10px;}
.holder div.copy_content ul.programs li a{color:#0397d6;float:left;margin-top:10px;margin-bottom:10px;width:100%;}
.holder div.copy_content ul.programs li p a{color:#0397d6;text-decoration:none;float:none;clear:none;width:auto;}
.holder div.copy_content ul.programs li p a:hover{text-decoration:underline;}
.holder div.copy_content ul.programs li ul{list-style:none;width:100%;border:0px;}
.holder div.copy_content ul.programs li ul li{padding:0px;border:0px;margin:0px;}

.holder div.copy_content ul.inline{list-style:none;margin-top:10px;}
.holder div.copy_content ul.inline li{width:200px;height:240px;padding-right:30px;display:inline;margin-top:10px;float:left;font-style:normal;}
.holder div.copy_content ul.inline li img{width:145px;height:170px;float:left;background-color:#CCC;}
.holder div.copy_content ul.inline li h2, .holder div.copy_content ul.inline li h3{float:left;width:100%;}
.holder div.copy_content ul.inline li h2{font-weight:bold;font-size:12px;margin-top:5px;}
.holder div.copy_content ul.inline li h3{font-style:oblique;font-size:11px;}
.holder div.copy_content a{font-style:oblique;}

.holder aside{width:185px;float:right;margin-left:30px;margin-top:42px;padding-right:10px;}
.holder aside ul{margin-top:20px;float:left;text-transform:uppercase;font-size:12px;}
.holder aside ul li{width:100%;margin-bottom:10px;line-height:140%;}
.holder aside ul li a{text-decoration:none;}
.holder aside ul li a:hover{text-decoration:underline;}
.holder aside a.block{float:left;width:160px;height:30px;background-image:url('../img/sidebar_sprite.jpg');}
.holder aside a.block.awards{background-position:0px 0px;}
.holder aside a.block.egms{background-position:0px -40px;}
.holder aside a.block.faqs{background-position:0px -80px;}
.holder aside a.block.logo{background-position:0px -120px;}
.holder aside div.select_box_grad{width:185px;height:15px;float:left;border-top:1px solid #f5f7f8;border-left:1px solid #f5f7f8;border-bottom:1px solid #d9e0e4;border-right:1px solid #ffffff;background-image:url('../img/select_top.jpg'); margin-bottom: 10px;}
.holder aside div.select_box_grad span.select_wrap{width:183px;float:left;overflow:hidden;background-color:transparent;background-image:url('../img/fake_select.jpg');background-repeat:no-repeat;background-position:right;height:15px;}
.holder aside div.select_box_grad span.select_wrap select{width:200px;float:left;background: transparent;border:0px;height:15px;line-height:15px;font-weight:bold;color:#415a68;outline:none;-webkit-appearance: none;font-size: 12px;}

.home_connect{width:960px;margin-left:auto;margin-right:auto;display:block;box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;}
.home_connect div.left{float:left;width:476px;height:250px;color:#415a68;font-size:12px;line-height:140%;}
.home_connect div.left h1{background-image:url('../img/sc.png');width:456px;height:40px;color:#ffffff;font-size:26px;padding:0px 10px;line-height:40px;padding-bottom:20px;background-repeat:repeat-x;background-position:right;}
.home_connect div.left h2{border-bottom:1px solid #415a68;text-transform:uppercase;font-size:16px;}
.home_connect div.left div.sc_left{width:200px;float:left;margin-left:10px;margin-top:10px;}
.home_connect div.left div.sc_left a{color:#415a68;text-decoration:none;}
.home_connect div.left div.sc_left address{float:left;width:100%;margin-top:10px;padding-bottom:10px;}
.home_connect div.left div.sc_left span.contact_line{width:100%;float:left;}
.home_connect div.left div.sc_left a.map{margin-top:10px;float:left;clear:both;font-weight:bold;text-decoration:none;}
.home_connect div.left div.sc_left a.map:hover{text-decoration:underline;}
.home_connect div.left div.sc_right{width:150px;margin-left:30px;margin-right:80px;float:right;margin-top:10px;}
.home_connect div.left div.sc_right img.social_me{float:left;margin-top:10px;}
.home_connect div.right{float:right;width:484px;height:250px;color:#415a68;font-size:12px;line-height:140%;background: #fff}
.home_connect div.right div.aa_form{float:left;width:260px;margin-left:10px;margin-top:10px;}
.home_connect div.right div.aa_right{float:right;width:200px;margin-top:10px;}
.home_connect div.right div.aa_right ul{float:left;list-style:none;width:200px;margin-top:5px;}
.home_connect div.right div.aa_right ul li{display:inline;text-transform:uppercase;font-size:10px;float:left;width:90px;}
.home_connect div.right h1{background-image:url('../img/aua.png');width:464px;height:40px;color:#ffffff;font-size:26px;padding:0px 10px;line-height:40px;padding-bottom:20px;background-repeat:repeat-x;background-position:right;}
.home_connect div.right label{float:left;clear:both;width:100%;margin-bottom:5px;font-weight:bold;text-transform:uppercase;font-size:10px}
.home_connect div.right input.text, .home_connect div.right textarea{float:left;width:240px;border:0px;margin-bottom:2px;}
.home_connect div.right input.text{height:20px;background-image:url('../img/text_input.jpg');}
.home_connect div.right input.submit{float:left;clear:both;border:0px;background-color:#ffffff;color:#415a68;font-style:oblique;font-size:16px;font-weight:bold;margin-top:10px; margin-left: -4px;}
.home_connect div.right div.instructions{float:left;clear:both;margin-top:10px;width:170px;padding-right:30px;line-height:130%;font-size: 16px}
.home_connect div.right textarea{height:65px;background-image:url('../img/text_area.jpg');}
.home_grid{width:725px;float:left;list-style:none;height:380px; border-top: solid 2px #fff}
.home_grid li{float:left;height:380px;}
.home_grid li a.callout, .home_grid li a.false_callout{width:100%;height:210px;float:left;position:relative;font-family: 'Conv_Verlag-Light';text-decoration:none;}
.home_grid li a.callout span, .home_grid li a.false_callout span{position:absolute;width:100%;float:left;color:#ffffff;font-size:26px;letter-spacing:1px;}
.home_grid li.green{width:240px;}
.home_grid li.lblue{width:240px;}
.home_grid li.dblue{width:245px;}

.home_grid li.green div.bubble, .home_grid li.dblue div.bubble { margin-top: -20px;}

.home_grid li div.bubble, .home_grid li div.bubble_mid{float:left;height:170px;width:100%;}
.home_grid li div.bubble p{float:right;height:70px;width:135px;margin-right:10px;margin-top:10px;text-align:right;font-weight:bold;font-style:oblique;font-size:12px;overflow:hidden;line-height:140%;}
.home_grid li div.bubble_mid p{float:left;height:130px;width:220px;margin:0px 10px;margin-top:15px;color:#415a68;font-size:12px;text-align:left;overflow:hidden;line-height:140%;}

.home_grid li.green div.bubble p, .home_grid li.green div.bubble a{color:#8dc63f;}
.home_grid li.dblue div.bubble p, .home_grid li.dblue div.bubble a{color:#0397d6;}

.home_grid li div.bubble a, .home_grid li div.bubble_mid a{float:right;clear:both;text-align:right;font-weight:bold;text-decoration:none;margin-top:65px;margin-right:10px;text-transform:uppercase;font-size:12px;font-weight:bold;font-style:oblique;}
.home_grid li div.bubble a:hover, .home_grid li div.bubble_mid a:hover{text-decoration:underline;}
.home_grid li div.bubble_mid a{color:#88d2d8;margin-top:15px;}


.home_grid li.green a.callout, .home_grid li.green a.false_callout{background-image:url('../img/callout_green.png');}
.home_grid li.lblue a.callout{background-image:url('../img/callout_lblue.png');margin-bottom:0px;}
.home_grid li.dblue a.callout{background-image:url('../img/callout_dblue.png');}

.home_grid li.green a.callout:hover{background-image:url('../img/callout_green.png');}
.home_grid li.lblue a.callout:hover{background-image:url('../img/callout_lblue.png');margin-bottom:0px;}
.home_grid li.dblue a.callout:hover{background-image:url('../img/callout_dblue.png');}

.home_grid li.green a.callout span, .home_grid li.green a.false_callout span{bottom:40px;left:20px;}
.home_grid li.lblue a.callout span{top:40px;left:20px;}
.home_grid li.dblue a.callout span{bottom:40px;left:20px;}

.home_grid li.green a.callout:hover span{color:#297403;}
.home_grid li.lblue a.callout:hover span{color:#278e9b;}
.home_grid li.dblue a.callout:hover span{color:#003596;}


/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


.main_banner{height:309px;background-color:#CCCCCC;width:725px;float:left;}
.main_content{float:left;width:725px;}

.navy{}
.navy a{color:#00235d;}
.navy h1{color:#00235d;float:left;width:100%;padding-bottom:25px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.navy h1.events{color:#00235d;}
.navy.holder aside ul li a{color:#00235d;}

.purple{}
.purple a{color:#9a258f;}
.purple h1{color:#9a258f;float:left;width:100%;padding-bottom:25px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.purple.holder aside ul li a{color:#9a258f;}
.print_page{background-image:url('../img/print_page.png');width:23px;height:24px;float:left;text-indent:-5000px;margin-top:10px;cursor:pointer;}

.sidebar_links{float:left;width:100%;list-style:none;}
.sidebar_links li{height:60px;float:left;width:100%;}
.sidebar_links li a{background-image:url('../img/sidebar_nav_def.jpg');width:100%;height:60px;float:left;}
.sidebar_links li a:hover{background-image:url('../img/sidebar_nav_rollb.jpg');}
.sidebar_links li a.egms{background-position:0px 0px;}
.sidebar_links li a.ccv{background-position:0px -60px;}
.sidebar_links li a.council{background-position:0px -120px;}
.sidebar_links li a.blog{background-position:0px -180px;}
.sidebar_links li a.events{background-position:0px -240px;}

.sub_banner{height:250px;background-color:#CCCCCC;width:725px;float:left;}

.teal{}
.teal a{color:#5b9a98;}
.teal h1{color:#5b9a98;float:left;width:100%;padding-bottom:25px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.teal.holder aside ul li a{color:#5b9a98;}

.teal_b{}
.teal_b a{color:#00A69B;}
.teal_b h1{color:#00A69B;float:left;width:100%;padding-bottom:25px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.teal_b.holder aside ul li a{color:#00A69B;}

.twitter_header{color:white; width:220px;color:#415a68;font-size:16px;float:left;padding:15px 10px; background-color:#c3ced5; color:white; font-family:"Verdana"; font-size:12px;}

.twitter_feed {width:100%;float:left;list-style:none;height:400px; overflow-y: scroll; overflow-x: hidden; margin-bottom: 20px; flex-grow: 1;}
.twitter_feed ul { background: #fff; margin: 10px; height: 190px; padding: 10px; overflow: hidden;}
.twitter_feed ul li { border-bottom: solid 1px #c7d0d6; color: #657984; font-size: 12px; line-height: 19px; margin: 0 0 8px }
.twitter_feed ul li a { color: #88d2d8; font-weight: bold; font-style: italic; font-size: 12px }
.twitter_feed ul li a.ago { clear: both; display: block; margin: 0 0 8px; font-size: 10px; color: #c7d0d6; text-decoration: none; line-height: 12px; }
.twitter_feed ul li.twitlast { border-bottom: none; margin-bottom: none }

.parent-pageid-9 .holder div.copy_content a { color: #0397D6 }
.parent-pageid-11 .holder div.copy_content a { color: #8DC63F }
.parent-pageid-13 .holder div.copy_content a { color: #88D2D8; }
.parent-pageid-15 .holder div.copy_content a { color: #5B9A98; }
.blog .holder div.copy_content a { color: #00a69b; }
.holder div.copy_content ul { list-style-position:outside; }

.page-id-26 .holder aside { margin-top: 22px; }

/* Lazy Blog Formatting */
.blogTop { color: #00a69b; text-transform: uppercase; font-weight: 100; font-size: 18px; padding: 0 0 20px; border-bottom: solid 1px #a0adb4; margin: 0 0 15px }
.blog .holder div.copy_content .entry-title { font-weight: 100; text-transform: uppercase; font-style: normal}
.blog .holder div.copy_content .entry-title a { text-decoration: none; font-style: normal }
.blog .holder div.copy_content .entry-title a:hover { text-decoration: underline }
.blog .holder div.copy_content .entry-meta { margin: 0 0 20px; font-style: italic; font-size: 12px; }
.blog .holder div.copy_content .entry-meta a { color: #415A68; text-decoration: none; font-weight: 100; }
.blog .holder div.copy_content .entry-meta a:hover { text-decoration: underline }
.blog .holder div.copy_content p { margin: 0 0 15px }
.blog .holder aside { margin-top: 37px; width: 135px; margin-right: 40px; text-transform: none }
.blog .holder aside ul { margin-top: 0; color: #00a69b; margin-bottom: 15px; text-transform: none; font-size: 12px }
.blog .holder aside ul h3 { border-bottom: solid 1px #00a69b; padding: 0 0 5px; margin: 0 0 5px; text-transform: uppercase; font-weight: bold }
.blog .holder aside ul a { color: #00a69b }
.blog .holder aside ul a:hover { text-decoration: underline }
.blog .holder aside ul li { margin-bottom: 3px }
.blog .holder div.copy_content .commm a { color: #fff; text-decoration: none;background: url('../img/com_bg.jpg'); padding: 3px 7px; display: block; font-weight: normal }
.blog .holder div.copy_content .entry-utility a { font-weight: normal; text-decoration: none; color: #415A68 }
.blog .holder div.copy_content .entry-utility a:hover { text-decoration: underline }

.network { float: left; height: 25px; width: 100%}

.entry-utility { float: left; width: 100%; font-size: 11px; margin: 0 0 20px; }

.commm { float: right; }

.holder div.copy_content .post { border-bottom: solid 1px #a0adb4; margin: 0 0 10px; float: left; clear: both }

/* Lazy Single Formatting */
.single .holder div.copy_content .entry-title { color: #00a69b; font-weight: 100; text-transform: uppercase; font-style: normal}
.single .holder div.copy_content .entry-title a { text-decoration: none; font-style: normal }
.single .holder div.copy_content .entry-title a:hover { text-decoration: underline }
.single .holder div.copy_content .entry-meta { margin: 0 0 20px; font-style: italic; font-size: 12px; }
.single .holder div.copy_content .entry-meta a { color: #415A68; text-decoration: none; font-weight: 100; }
.single .holder div.copy_content .entry-meta a:hover { text-decoration: underline }
.single .holder div.copy_content p { margin: 0 0 15px }
.single .holder aside { margin-top: 37px; width: 135px; margin-right: 50px; text-transform: none }
.single .holder aside ul { margin-top: 0; color: #00a69b; margin-bottom: 15px; text-transform: none; font-size: 12px }
.single .holder aside ul h3 { border-bottom: solid 1px #00a69b; padding: 0 0 5px; margin: 0 0 5px; text-transform: uppercase; font-weight: bold }
.single .holder aside ul a { color: #00a69b }
.single .holder aside ul a:hover { text-decoration: underline }
.single .holder aside ul li { margin-bottom: 3px }
.single .holder div.copy_content .commm a { color: #fff; text-decoration: none;background: url('../img/com_bg.jpg'); padding: 3px 7px; display: block; font-weight: normal }
.single .holder div.copy_content a { color: #00a69b; font-weight: 100; text-decoration: none}
.single .holder div.copy_content a:hover { text-decoration: underline }
#nav-below { width: 100%; float: left; }
.holder div.copy_content .navigation a { color: #00a69b; text-decoration: none; font-weight: 100; }
.holder div.copy_content .navigation a:hover { text-decoration: underline }
.nav-next { float: right }

/***COMMENTS SECTION***/

.commy { margin: 10px 0 0 0; float: left; display: block; clear: both }
.holder div.copy_content .commy a { color: #00a69b }
.commment h3 { font-size: 13px; color: #00A69B; font-style: italic}
.commment { padding: 20px 0 0; }
.post h1, .commment h3 { padding: 0 0 10px 0; font-weight: 300}
.commment a { color: #a39f8f; }
.comment-body p { font-size: 11px; padding: 0 0 10px 0; line-height: 16px; }
#respond { padding: 0; position: relative; }
.comment-author { padding: 0 0 5px 0; }
.commentmetadata { padding: 0 0 5px 0; font-size: 11px; }
.comment-body { padding: 0 0 10px 0; }
#reply-title { font-weight: 100; font-size: 16px; font-style: italic}
.comment-notes { font-size: 12px; padding: 0; font-style: italic}
#commentform { position: relative; }
.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-comment label { float: left; font-size: 12px; padding: 0 0 3px 0; text-transform: uppercase;}
.required { float: left; padding: 0 3px 0 0; color: #415A68;}
#author, #email, #url, #comment { float: left; clear: both; width: 96%; border: solid 1px #d8e0e5; padding: 2%; font-size: 12px; color: #999; margin-bottom: 10px; box-shadow: inset 1px 1px 2px #d8e0e5;}
#comment { resize: none; }
.screen-reader-text { display: none; }
.form-allowed-tags { display: none }
.comment-reply-title { display: none;}


/* Lazy Archive Formatting */
.archive .holder div.copy_content .entry-title { font-weight: 100; text-transform: uppercase; font-style: normal}
.archive .holder div.copy_content .entry-title a { text-decoration: none; font-style: normal }
.archive .holder div.copy_content .entry-title a:hover { text-decoration: underline }
.archive .holder div.copy_content .entry-meta { margin: 0 0 20px; font-style: italic; font-size: 12px; }
.archive .holder div.copy_content .entry-meta a { color: #415A68; text-decoration: none; font-weight: 100; }
.archive .holder div.copy_content .entry-meta a:hover { text-decoration: underline }
.archive .holder:not(.blue) div.copy_content p { margin: 0 0 15px }
.archive .holder aside { margin-top: 37px; width: 135px; margin-right: 50px; text-transform: none }
.archive .holder aside ul:not(.file-categories) { margin-top: 0; color: #00a69b; margin-bottom: 15px; text-transform: none; font-size: 12px }
.archive .holder aside ul h3 { border-bottom: solid 1px #00a69b; padding: 0 0 5px; margin: 0 0 5px; text-transform: uppercase; font-weight: bold }
.archive .holder aside ul a { color: #00a69b }
.archive .holder aside ul a:hover { text-decoration: underline }
.archive .holder aside ul:not(.file-categories) li { margin-bottom: 3px }
.archive .holder div.copy_content .commm a { color: #fff; text-decoration: none;background: url('../img/com_bg.jpg'); padding: 3px 7px; display: block; font-weight: normal }
.archive .holder:not(.blue) div.copy_content a { color: #00A69B }
.archive .holder div.copy_content .network { display: none }
.archive .holder div.copy_content .entry-utility { display: none }
.archive .holder div.copy_content .entry-meta { display: none }

.entry-summary { padding-bottom: 20px }

.holder div.copy_content .entry-summary a { font-weight: 100; text-decoration: none }
.holder div.copy_content .entry-summary a:hover { text-decoration: underline }

/* Council login form */
.cl_form{float:left;clear:both;width:460px;}
.council_login_input{width:450px;padding:5px;-moz-box-shadow:inset 1px 1px 5px #e4e9ec;-webkit-box-shadow:inset 1px 1px 5px #e4e9ec;box-shadow:inset 1px 1px 5px #e4e9ec;border:0px;float:left;clear:both;}
.council_login_input.cblue{color:#0397d6;}
.council_login_label{width:460px;float:left;clear:both;margin-bottom:10px;margin-top:5px;text-transform:uppercase;font-size:12px;}
.council_login_label.cblue{color:#0397d6;}
.cl_form_lower{float:left;width:100%;margin-top:10px;}
.holder div.copy_content .cl_form_lower a{width:50%;float:left;line-height:31px;font-size:10px;}
.holder div.copy_content .cl_form_lower a.cblue{color:#0397d6;}
.cl_form_lower input{float:right;text-indent:-5000px;width:102px;height:31px;display:block;background-image:url('../img/login.jpg');border:0px;}
.cl_form_lower input.reg{background-image:url('../img/register.jpg');border:0px;}

.c-login{width:523px;height:35px;float:left;clear:both;background-image:url('../img/c-login.jpg');text-indent:-5000px;background-repeat:no-repeat;margin-bottom:20px;}
.no-account{width:477px;height:79px;float:left;clear:both;background-image:url('../img/no-account.jpg');text-indent:-5000px;background-repeat:no-repeat;margin-top:40px;}


/* SIDEBAR IMGs */
.sidebar_img_px1{float:left;text-decoration:none;}
.sidebar_img_px1 img{float:left;}

.sidebar_img_px2{float:left;text-decoration:none;margin-bottom:20px;}
.sidebar_img_px2 img{float:left;}
.sidebar_img_px2 h1{float:left;width:100%;clear:both;margin-top:5px;padding-bottom:0px;font-size:13px;font-weight:normal;text-transform:uppercase;}
.sidebar_img_px2 h2{float:left;width:100%;clear:both;margin-top:5px;text-decoration:underline;font-style:italic;font-size:11px;}

.social_media_blog{float:left;width:220px;}
.social_media_blog iframe{display:inline;display:inline-block;}

.login_message{float:left;width:100%;margin-bottom:20px;}

.logout_now_link{float:right;text-align:right;width:100%;margin-bottom:20px;margin-top:-42px;margin-right:20px;color:#0397D6;font-size:12px;font-weight:bold;text-decoration:none;}
.logout_now_link:hover{text-decoration:underline;}
.staff-description { float: left; clear: both; width: 100%;}
.error {
	color: #ff0000;
}

#ask_anything input {
	display: block;
	height: 20px;
    background-image: url(../img/text_input.jpg);
    width: 240px;
    border: 0px;
    margin-bottom: 0;
}
#ask_anything textarea {
	display: block;
	float: none;
	margin-bottom: 0;
}
#ask_anything select {
	display: block;
	height: 20px;
    background-image: url(../img/text_input.jpg);
    width: 150px;
    border: 0px;
    margin-bottom: 0;
}
#ask_anything .wpcf7-form-control-wrap {
	display: block;
	position: relative;
}
#ask_anything .error-email {
	text-transform: none;
	font-weight: normal;
	font-size: 12px;
}
#ask_anything .error-form {
	float: left;
	clear: both;
	white-space: nowrap;
}
#ask_anything .instruction {
	float: left;
    clear: both;
    margin-top: 10px;
    width: 170px;
    padding-right: 30px;
    line-height: 130%;
    font-size: 16px;
}
#ask_anything input[type="submit"] {
	float: left;
	clear: both;
	cursor: pointer;
	border: 0px;
	background: #ffffff;
	color: #415a68;
	font-style: oblique;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: -4px;
	width: auto;
}
#ask_anything span.wpcf7-not-valid-tip {
	position: absolute;
	bottom: -17px;
	right: 20px;
	font-size: 8px;
}
#ask_anything .wpcf7-form.invalid .wpcf7-response-output {
	display: none !important;
	border: 0;
	padding: 0;
	margin: 0;
}
#ask_anything .wpcf7-form.sent .aa_form,
#ask_anything .wpcf7-form.sent .aa_right {
	display: none !important;
}
#ask_anything .wpcf7-form.sent .wpcf7-response-output {
	border: 0;
	padding: 0 0 0 10px;
    margin-top: 20px;
    font-size: 16px;
}
    
.search .nav-previous {
	float: left;
}
.search .nav-next {
	float: right;
}
.program_profile img {
	/*max-width: 175px;*/
}
div.award-title {
	font-style: italic;
}
.program_profile div.award-title {
	margin-bottom: 10px;
}
aside .sidebar-item {
	margin-bottom: 10px;
	float: left;
}

#main_nav > ul > li > ul > li:hover > ul {
	display: block;
	width: 225px;
}
#main_nav > ul > li > ul > li > ul > li {
	white-space: normal;
	height: auto;
}
#main_nav > ul > li > ul > li > ul > li a{
	height: auto;
}
/*
#main_nav > ul > li > ul > li {
	max-width: 400px;
}
#main_nav > ul > li > ul > li > ul > li {
	max-width: 300px;
}
*/
#main_nav > ul > li > ul > li > ul {
	position: absolute;
	left: 100%;
	top: -1px;
}



/*
MEMBER AREA
************/

.w3eden,
.file-wrap,
.file-comments,
.file-comments ol,
.file-comments li,
.file-comments li > article,
.comment-respond,
.comment-form {
	float: left;
	width: 100%;
}
.file-wrap {
	border-bottom: 1px solid #435a67;
	padding-bottom: 15px;
	position: relative;
}
.file-wrap.open {
	border: 0;
}
.file-wrap-first .file-description {
	display: block;
}
.file-description {
	display: none;
}
.file-description p {
	padding-bottom: 0 !important;
}
.file {
	margin-top: 20px;
}
.w3eden .file-title {
	color: #0397d6;
	font-style: italic !important;
	font-size: 18px;
	margin: 0 0 10px !important;
}
.w3eden .file-title a {
	color: #0397d6;
	float: none !important;
	font-style: italic !important;
}
div.copy_content h2.file-category-title {
	margin-top: 0;
}
div.copy_content .file-title a {
	margin: 0;
}
div.copy_content p.file-date {
	margin: 5px 0 10px;
	padding: 0;
}
div.copy_content a.file-link {
	float: none;
	margin: 0;
	position: absolute;
	bottom: 12px;
	right: 0;
	text-transform: uppercase;
	width: auto;
}
div.copy_content a.file-comments-link {
	color: #435a67;
	float: none;
	font-weight: 700;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	text-decoration: none;
}
div.copy_content a.file-comments-link:hover {
	text-decoration: underline;
}
div.copy_content a.file-comments-link:after {
	border-left: 4px solid #435a67;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	content: '';
	display: inline-block;
	margin-left: 5px;
}
div.copy_content .open a.file-comments-link:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.file-comments {
	border-bottom: 1px solid #435a67;
	display: none;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.file-comments li > article {
	background: #f9fbfb;
	font-style: oblique;
	margin-bottom: 5px;
	padding: 2%;
	position: relative;
	width: 96%;
}
.file-comments li .children {
	padding-left: 6% !important;
	width: 94% !important;
}
.comment-author,
.commentmetadata {
	float: none;
	font-style: oblique;
	display: inline-block;
	margin-right: 5px;
}
.comment-author .says {
	display: none;
}
.commentmetadata {
	color: #8295a0;
}
div.copy_content a.comment-edit-link {
	color: #8295a0;
	margin: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	text-decoration: none;
}
div.copy_content a.comment-edit-link:hover,
div.copy_content a.comment-reply-link:hover {
	text-decoration: underline;
}
div.copy_content a.comment-reply-link {
	color: #435a67;
	font-weight: 700;
	margin: 0;
	text-align: right;
	text-decoration: none;
}
div.copy_content a#cancel-comment-reply-link {
	color: #435a67;
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 135px;
	text-transform: lowercase;
	width: auto;
	z-index: 1;
}
div.copy_content a#cancel-comment-reply-link:hover {
	color: #bfccd4;
}
.logged-in-as {
	color: #8295a0;
	font-style: italic;
	margin-top: 0;
}
.logged-in-as a {
	color: #0397d6;
	font-style: italic !important;
}
div.copy_content p.form-submit {
	float: none;
	width: auto;
}
#submit {
	background: #213b4a; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #213b4a 40%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(40%,#213b4a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #213b4a 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #213b4a 40%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #213b4a 40%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(45deg,  #213b4a 40%,#ffffff 100%); /* W3C */
	border: 1px solid #98a9b2;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 10px;
	width: 110px;
}
#submit:hover {
	background: #213b4a;
}
.holder aside ul.file-categories {
	margin-top: 0;
}
.file-categories .active {
	font-weight: 900;
}



/* Login / register */

div.copy_content #wpmem_login a,
div.copy_content #wpmem_reg a {
	margin: 0;
}
#wpmem_login,
#wpmem_reg {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	position: relative;
}
#wpmem_login legend,
#wpmem_reg legend,
.form-title {
	background: #e6f1fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6f1fa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f1fa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6f1fa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6f1fa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6f1fa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6f1fa 0%,#ffffff 100%); /* W3C */
	color: #0397d6;
	display: block;
	padding: 10px;
	font-size: 18px !important;
	font-weight: 500;
	margin: 0 0 20px -10px;
	text-transform: uppercase;
	width: 100%;
}
#wpmem_login label,
#wpmem_reg label {
	color: #0397d6;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
}
#wpmem_login input[type=text],
#wpmem_login input[type=password],
#wpmem_reg input[type=text],
#wpmem_reg input[type=email],
#wpmem_reg input[type=password],
.form-input {
	box-sizing: border-box;
	border: solid 1px #d8e0e5;
	box-shadow: inset 1px 1px 2px #d8e0e5;
	font-size: 16px;
	padding: 5px;
	width: 100%;
}
#wpmem_login input[type=submit],
input.form-submit {
	background: #1899d4; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #1899d4 60%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(60%,#1899d4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #1899d4 60%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #1899d4 60%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #1899d4 60%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(45deg,  #1899d4 60%,#ffffff 100%); /* W3C */
	border: 1px solid #98a9b2;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 16px;
	padding: 8px 10px;
}
#wpmem_login input[type=submit]:hover,
input.form-submit:hover {
	background: #0e5778;
}
#wpmem_reg input[type=submit] {
	background: #bfccd4; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #bfccd4 60%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(60%,#bfccd4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #bfccd4 60%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #bfccd4 60%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #bfccd4 60%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(45deg,  #bfccd4 60%,#ffffff 100%); /* W3C */
	border: 1px solid #98a9b2;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 16px;
	padding: 8px 10px;
}
#wpmem_reg input[type=submit]:hover {
	background: #7893a4;
}
#wpmem_login input[type=submit]:after,
#wpmem_reg input[type=submit]:after {
	content: 'ooo';
}
#wpmem_login input[type=reset],
#wpmem_reg input[type=reset] {
	display: none;
}
#wpmem_login .div_text,
#wpmem_reg .div_text {
	margin-bottom: 5px;
}
#wpmem_login .link-text {
	float: left;
	text-align: left;
}
div.copy_content #wpmem_login .link-text a {
	color: #0397d6;
	float: none;
	margin: 0;
	width: auto;
}
fieldset .link-text:last-child {
	display: none;
}
.wpmem_msg {
	background: #435a67;
	color: #fff;
	float: left;
	margin-left: -10px;
	padding: 5px 10px;
	width: 100%;
}
div.copy_content .wpmem_msg p {
	margin: 0;
	padding: 0;
	float: none;
	text-align: left;
}
.secondary_nav .centralizer {
	position: relative;
}
.user-info {
	color: #607785;
	font-size: 11px;
	position: absolute;
	top: 24px;
	left: 250px;
}
.user-info a {
	color: #0397d6;
	text-decoration: none;
}
.user-info a:hover {
	text-decoration: underline;
}
.form-sub-title {
	color: #0397d6;
	font-weight: bold;
	text-transform: uppercase;
}
#preloader {
	visibility: hidden;
}
#message {
	clear: both;
}
.form-error {
	background: #902184;
	color: #fff;
	font-weight: bold;
	line-height: 1.25em;
	margin: 10px 0;
	padding: 10px 20px 10px 10px;
	position: relative;
	min-height: 30px;
}
.form-error:after {
	content: '!';
	font-size: 40px;
	position: absolute;
	top: 19px;
	right: 10px;
}
.form-success {
	background: #81bf37;
	color: #fff;
	font-weight: bold;
	line-height: 1.25em;
	margin: 10px 0;
	padding: 10px 45px 10px 10px;
	position: relative;
	min-height: 30px;
}


.page-id-784 .copy_content > h1,
.page-id-2886 .copy_content > h1 {
	display: none;
}
